.error_page {
  p {
    font-size: 12px;
    line-height: 20px;
    color: #202020;
    max-width: 470px;
    margin-top: 20px;
  }

  h1 {
    @include respond-to(mobile) {
      font-size: 25px;
      line-height: 25px;
      margin-top: 30px;
    }
  }

  .button {
    text-align: center;
    margin: 65px auto 100px;
  }

  .relic_preview .title {
    margin-top: 13px;
  }
}