.about-page {
  margin-bottom: 40px;

  h1 {
    margin-top: 0;
    margin-bottom: 35px;

    @include respond-to(mobile) {
      margin-bottom: 20px;
    }
  }

  p {
    font-size: 20px;
    line-height: 25px;
    font-weight: 900;
    margin-bottom: 25px;

    @include respond-to(mobile) {
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 15px;
    }
  }

  a:hover {
    color: $relikva-violet;
  }
}