.admin_categories {
  padding-left: 40px;
  > div {
    padding: 1px 3px;
  }
  ol {
    border-left: 1px solid #ccc;
    &:empty {
      display: none;
    }
  }
}

.admin_category_editor {

  > span {
    font-size: 10px;
    cursor: pointer;
    &.control_hide, &.control_show {
      font-size: 12px;
    }
  }

  > .control {
    > span {
      font-size: 10px!important;
      font-weight: bold;
      margin-left: 20px;
      cursor: pointer;
    }
    display: none;
  }


  &:hover {
    > span {
      font-weight: 900;
      color: #000;
    }
    > .control {
      display: inline-block;
    }
  }
}

.category_editor {
  .category_parent {
    .change {
      font-weight: normal;
      margin-left: 2em;
    }
  }
  .delete_btn {
    float: right;
  }
}