.collection_show {
  margin-top: 5px;

  header {
    position: relative;
  }

  .resource_manager {
    right: 0;

    li {
      padding: 1px 8px;
      border-bottom: $relick-xs-border solid $relikva-black-color;
      &:last-child { border-bottom: none; }

      a:hover {
        color: #fff;
      }
    }

    .indent {
      border-bottom: $relick-xs-border solid $relikva-black-color;
    }
  }

  > header > {
    h2 {
      font-size: $font-size-h5;
      margin-top: 0;
      margin-bottom: $grid/4;
    }
    h1 {
      margin-top: 9px;
      margin-bottom: $grid;
      @include respond-to(mobile) {
        font-size: 30px;
        line-height: 30px;
      }
    }
  }
  .hidden-xs {
    display: inline-block;
    vertical-align: middle;
  }
  .like-button, .sharing_counter {
    display: inline-block;
    vertical-align: middle;
  }
  .sharing_counter {
    vertical-align: bottom;
  }
  .like-button {
    margin-right: 60px;
    .count {
      vertical-align: bottom;
    }
    &:before {
      vertical-align: top;
    }
  }
  .buttons {
    margin-bottom: $grid/2;
  }
}

.collection_show_description {
  @include text_serif;
  margin-bottom: 50px;
  margin-top: $grid/2;
  line-height: 1.35;
  @include respond-to(mobile) {
    font-size: 15px;
    line-height: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
  }
}

.relics-list-collections {
  margin-top: $grid*3;
  @include respond-to(mobile) {
    margin-top: $grid*2;
  }

  .title {
    margin-top: 13px;
  }
}