.relic_form .new_collection .resource_manager {
  right: 15px;
}

.collection-new {
  //margin-bottom: 100px;

  .collection_description {
    label {
      border-bottom: $relick-s-border solid  $relikva-border-color;
      padding-bottom: 7px;
      margin-bottom: $grid;
      width: 100%;
    }

    textarea {
      min-height: 120px;
    }
  }

  .collection_privacy {
    label {
      display: none;
    }
  }

  .relics {
    h4 {
      border-bottom: $relick-s-border solid  $relikva-border-color;
      padding-bottom: 7px;
      margin-bottom: $grid;
      width: 100%;
    }

    .collection_form_relic {
      display: inline-block;
      vertical-align: top;
      margin-right: 25px;
    }

    label {
      position: relative;
      background-size: cover;
      background-position: 50% 50%;
      cursor: pointer;
    }

    label:hover .overlay {
      opacity: 1;
    }

    .overlay {
      background: rgba(102, 51, 204,.8);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      transition: all ease-in-out .3s;

      &:before, &:after {
        content: ' ';
        position: absolute;
        background: #fff;
        top: 50%;
        left: 50%;
      }

      &:after {
        width: 3px;
        height: 19px;
        margin-top: -9.5px;
        margin-left: -1.5px;
        transition: all .3s ease-in-out;
      }

      &:before {
        width: 19px;
        height: 3px;
        margin-top: -1.5px;
        margin-left: -9.5px;
        transition: all .3s ease-in-out;
      }

      .delete {
        border: 1px solid #fff;
        font-size: 12px;
        padding: 0 6px 1px;
        position: absolute;
        color: #fff;
        font-weight: 500;
        top: 48px;
        left: 50%;
        margin-left: -32.5px;
        opacity: 0;
        transition: all ease-in-out .3s;
      }
    }

    label.active:hover .overlay {
      .delete {
        opacity: 1;
      }

      &:after {
        top: 31%;
      }
    }

    label.active .overlay {
      opacity: 1;

      &:before, &:after {
        content: ' ';
        position: absolute;
        background: #fff;
        top: 50%;
        left: 50%;
      }

      &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -12px;
        margin-left: -20px;
        height: 1.5em;
        border: solid #fff;
        background: transparent;
        transform: scale(.5) rotate(127deg);
        border-width: 6px 6px 0 0;
        width: 2.5em;
        opacity: 1;
      }

      &:before {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -12px;
        margin-left: -20px;
        height: 1.5em;
        border: solid #fff;
        background: transparent;
        transform: scale(.5) rotate(127deg);
        border-width: 6px 6px 0 0;
        width: 2.5em;
      }
    }
  }

  .button-wrapper {
    width: 100%;
    text-align: center;
    margin-top: 50px;

    .btn-rectangle {
      display: inline-block;
      margin: 0 auto;
    }
  }
}