.discover .media {
  margin-top: $padding-large-vertical;
  padding-top: $padding-large-vertical;
  padding-bottom: $padding-large-vertical;
}

.discover.relics-list {
  .sidebar {
    .sticky_list.fixed_to_top {
      padding-top: $padding-large-vertical*3;  
    }
    .sticky_list.fixed_to_bottom {
      padding-top: $padding-large-vertical*3;  
    }
  }
}