// delete this after masonry
$timeline_item_padding-x: 64px;
$timeline_item_padding-w: 250px;

.relic-discover-v2 {
  margin: 0 -$timeline_item_padding-x/2;
}

.timeline_item {
  display: inline-block;
  vertical-align: top;
  width: $timeline_item_padding-x + $timeline_item_padding-w;
  padding: 30px $timeline_item_padding-x/2 30px;
  //margin-right: 65px;
  position: relative;
  background: #fff;
  &:not(.subscription_block_wrapper) {
    opacity: 0;
  }

  &[style] {
    z-index: 10;
    opacity: 1;
  }
}

.preview_teaser {
  display: block;
  width: 100%;
}
// to this

// relic preveiw
.relic_preview_type {
  font-size: 13px;
  line-height: 15px;
  font-weight: 500;
  margin: 0 auto;
  border-bottom: $relick-xs-border solid $relikva-border-color;
  padding-bottom: 4px;
  margin-bottom: 7px;
}

.relic_preview_title {
  font-size: 25px;
  line-height: 25px;
  margin-left: -1px;
  margin-top: 0;
  margin-bottom: 12px;
}

.relic_preview_info {
  border: $relick-xs-border solid $relikva-border-color;
  padding: 9px 10px 5px;
}

.relic_preview_description {
  font-family: $font-family-serif;
  color: $relikva-black-color;
  font-size: 15px;
  line-height: 20px;
  display: block;
  margin-top: 0;
  margin-left: -1px;
  margin-bottom: 15px;
}

.preview_author {
  border-top: $relick-xs-border solid $relikva-border-color;
  border-bottom: $relick-xs-border solid $relikva-border-color;
  display: block;
  width: 100%;
  padding: 6px 0 7px;
  overflow: hidden;
  margin-bottom: 11px;

  strong {
    font-size: 13px;
    white-space: nowrap;
    color: $relikva-black-color;
    margin-left: 6px;
    margin-top: 4px;
    display: inline-block;
  }
}

.preview_like {
  position: relative;
  padding-left: 22px;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: $relikva-black-color;
  margin-right: 20px;
  &:before {
    content: ' ';
    width: 15px;
    height: 15px;
    box-shadow: inset 0px 0px 0px 2px $relikva-violet;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.preview_comments {
  position: relative;
  padding-left: 22px;

  span {
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: $relikva-black-color;
    display: block;
  }
}

.preview_comments_img {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

.preview_like, .preview_comments {
  display: inline-block;
  vertical-align: top;
}

// investigation preview
.investigation_preview_type {
  font-size: 10px;
  line-height: 12px;
  font-weight: 500;
  margin: 0 auto;
  padding-bottom: 4px;
  margin-bottom: 7px;
  text-transform: uppercase;
  letter-spacing: .5px;
}

.investigation_preview_title {
  font-size: 25px;
  line-height: 25px;
  color: $relikva-black-color;
  font-family: $font-family-serif;
  font-weight: bold;
  margin-top: 3px;
  margin-left: -1px;
  margin-bottom: 0;
}

.investigation_preview-img {
  border-top: $relick-xs-border solid $relikva-border-color;
  padding-top: 14px;
  margin-top: 11px;
  position: relative;

  .preview_teaser {
    width: 85px;
  }
}

.investigation_preview_answers {
  position: absolute;
  bottom: -3px;
  left: 100px;
  font-size: 13px;
  line-height: 15px;
  color: $relikva-black-color;
}

.investigation_preview .preview_author {
  border: none;
  margin-top: 5px;
}

// collection
.timeline_item.collection_preview {
  width: ( $timeline_item_padding-x + $timeline_item_padding-w ) * 2;
  > .wrapper {
    position: relative;
    padding: 10px;
  }
}

.collection-preview-wrapper {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: 50% 50%;
}

.collection_preview_info {
  position: relative;
  width: 250px;
  background: #fff;
  padding: 10px;
  padding-bottom: 120px;
}

.collection_preview_type {
  font-size: 10px;
  line-height: 12px;
  font-weight: 500;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: .5px;
}

.collection_preview_title {
  font-size: 25px;
  line-height: 25px;
  color: $relikva-black-color;
  margin-top: 6px;
  margin-left: -1px;
  margin-bottom: 0;
}

.collection_preview_actions {
  position: absolute;
  right: 10px;
  bottom: 4px;
  left: 10px;
}






.relic-discover-v2 {
  [masonry-brick-template] {
    display: none;
  }

  .find_friends_bg {
    width: $timeline_item_padding-x + $timeline_item_padding-w;
    height: 364px
  }

  .subscription_block_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
  }
}










