.following_investigation_grid {
  opacity: 0;
  transition: opacity .1s ease;


  .following_investigation {
    width: 50%;
   }
  &.ready {
    opacity: 1;   
  }
}

.following_investigation {
  padding-bottom: 30px;
  transition: opacity .3s ease !important;
  opacity: 0;
  &.loaded {
    opacity: 1;
  }

  > .wrapper {
    background: $relikva-header-bg-color;
    padding: 20px;
    margin: 0 15px;
    border: $relick-xs-border solid $relikva-border-color;

    h3 a:hover, h4 a:hover {
      text-decoration: none;
      color: $relikva-violet;
    }
  }

  .avatar {
    border-radius: 30px;
  }

  .handle {
    font-size: $font-size-small;
    font-weight: 900;
    color: $relikva-black-color;
  }

  .investigation_comments {
    margin: 0;
    padding: 0;
    list-style: none;

    p {
      line-height: 1.7;
      margin-bottom: 22px;
    }
  }

  .body {
    font-size: $font-size-small;
    font-weight: 400;  
  }

  .investigation_comments .media {
    border-bottom: $relick-xs-border solid $relikva-border-color;
  }
}