.help-page {
  margin-bottom: 40px;

  @include respond-to(mobile) {
    margin-bottom: 0;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 35px;

    @include respond-to(mobile) {
      margin-bottom: 20px;
    }
  }

  .preview_box {
    border-top: $relick-m-border solid #000;
    padding-top: 40px;
    margin-bottom: 40px;

    > .preview_box_content {
      max-width: 600px;
      display: block;
      margin: 0 auto;
      > .title {
        margin-top: 0;
      }
      > p {
        font-family: "Georgia", "Times New Roman", Times, serif;
        font-size: 18px;
        margin: 0;
      }
    }
    > .preview {
      > img {
        display: block;
        margin: 20px auto 0;
        max-width: 100%;
      }
    }
  }
  > .help_footer, > .buttons {
    max-width: 600px;
    display: block;
    margin: 0 auto;
  }
  > .buttons {
    margin: 40px auto;
    text-align: center;

    @include respond-to(mobile) {
      margin-bottom: 0;
    }
  }

//  p {
//    font-size: 20px;
//    line-height: 25px;
//    font-weight: 900;
//    margin: 0;

//    @include respond-to(mobile) {
//      font-size: 12px;
//      line-height: 15px;
//      margin-bottom: 15px;
//    }
//  }

}