.following_investigation_grid {
  margin-bottom: 100px;
  
  .title_h3 {
    margin-top: 0;
    margin-bottom: 64px;
  }

  .investigation h3 {
    line-height: 35px;
    margin-top: 0;
    border-bottom: $relick-xs-border solid $relikva-black-color;
    padding-bottom: 18px;
    margin-bottom: 15px;
  }

  .media.relic .pull-left {
    width: 60px;
    min-height: 60px;
    max-height: 80px;
    overflow: hidden;
    > img {
      width: 100%;
    }
  }

  .media.relic h4 {
    font-weight: 900;
    margin-bottom: 0;
  }

  strong {
    line-height: 30px;
    color: $relikva-black-color;

    a:hover {
      text-decoration: none;
      color: $relikva-violet;
    }
  }

  .media.relic {
    border-bottom: $relick-xs-border solid $relikva-black-color;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  .wrapper {
    position: relative;
  }

  .to-answers {
    position: absolute;
    right: 20px;
    bottom: 27px;
    font-size: 12px;
    font-weight: 900;
    color: $relikva-black-color;
    span {
      color: $relikva-violet;
    }
    &:hover {
      color: $relikva-violet;
      text-decoration: none;
    }
  }
}