.container.invites {
  margin-bottom: 40px;

  > h3 {
    margin-top: 0;
    margin-bottom: 24px;
   
    @include respond-to(mobile) {
      margin-bottom: 14px;
    }
    
    > span {
      color: $relikva-violet;
    }
  }

  > .header {
    margin-bottom: 35px;
    > p {
      margin-top: 0;
    }
  }

  .form-group {
    margin-bottom: 0;
  }

  h4 {
    font-weight: 900;
    font-size: 17px;
    margin-top: 40px;
    margin-bottom: 14px;
    @include respond-to(mobile) {
      margin-top: 30px;
      font-size: 15px;
    }
  }

  .invite_quest {
    @include respond-to(mobile) {
      border-top: $relick-s-border solid $relikva-black-color;
      margin-top: 25px;
      .table {
        margin-bottom: 0;
      }
    }

    td {
      padding: 13px 0;
      border-top-color: $relikva-black-color;
      font-size: 12px;
      @include respond-to(mobile) {
        padding: 26px 0;
      }
    }

    .title {
      font-size: 17px;
      color: $relikva-violet;
      //width: 65%;
      @include respond-to(mobile) {
        font-size: 12px;
        padding: 26px 0;
      }
    }

    .title-inside {
      display: inline-block;
      position: relative;
    }

    .done .title-inside:before {
      content: ' ';
      background: $relikva-black-color;
      height: 2px;
      position: absolute;
      top: 13px;
      left: 0;
      right: 0;
      @include respond-to(mobile) {
        height: 1px;
        top: 10px;
      }
    }

    .status {
      color: $relikva-violet;
      width: 8.7%;
      padding-top: 16px;
      @include respond-to(mobile) {
        text-align: right;
        padding-top: 26px;
      }
    }

    .progress {
      padding-right: 15px;
      width: 13%;
      @include respond-to(mobile) {
        display: none;
      }
    }

    .progress-bar {
      width: 100%;
      height: 5px;
      background: transparent;
      box-shadow: inset 0px 0px 0px 1px $relikva-violet;
      margin-top: 10px;
      position: relative;
      @include respond-to(mobile) {
        display: none;
      }
    }

    .done .bar {
      background: $relikva-black-color;
    }

    .bar {
      height: 5px;
      position: absolute;
      background: $relikva-violet;
      bottom: 0;
      left: 0;
    }

    .done td {
      color: $relikva-black-color;
      position: relative;
    }

    .reward {
      text-align: right;
      width: 15%;
      padding-top: 16px;
      @include respond-to(mobile) {
        display: none;
      }
    }

    .checkmark {
      display: inline-block;
      width: 22px;
      height: 22px;
      transform: rotate(40deg);
      position: absolute;
      top: 12px;
      right: -7px;
    }

    .stem {
      position: absolute;
      left: 4px;
      top: 19px;
      background-color: $relikva-black-color;
      width: 8px;
      height: 2px;
    }

    .kick {
      position: absolute;
      width: 2px;
      height: 13px;
      background-color: $relikva-black-color;
      left: 10px;
      top: 7px;
    }
  }

  .invites-sidebar {
    @include respond-to(mobile) {
      margin-top: 0;
      margin-bottom: 70px;
    }

    .sent_invitations {
       @include respond-to(mobile) {
          border-top: $relick-s-border solid $relikva-black-color;
       }
    }
  }

  .invited-user {
    border-top: 1px solid $relikva-black-color;
    width: 100%;
    font-size: 12px;
    padding: 16px 0 17px;
    position: relative;
    > .mail { color: $relikva-black-color; }
  }

  .invited-user-profile {
    position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
    top: 11px;

    .invite-arrow {
      position: absolute;
      top: 11px;
      width: 25px;
      left: -36px;
    }

    .invited-avatar {
      display: block;
      border-radius: 100px;
      overflow: hidden;
      width: 100%;
    }

    &:after {
      content: ' ';
      background: $relikva-black-color;
      width: 10px;
      height: 2px;
    }
  }
}


.invite_form {
  position: relative;
  width: 100%;

  .link {
    margin-top: 10px;
  }

  .btn-rectangle {
    position: absolute;
    right: 0;
    top: 0;
    @include respond-to(mobile) {
      position: relative;
      width: 100%;
      font-size: 15px;
      padding: 9px 15px 10px;
    }
  }

  .form-group {
    padding-right: 265px;
    @include respond-to(mobile) {
      padding-right: 0;
    }
  }

  .input_wrapper {
    width: 100%;
    display: inline-block;
    position: relative;
    overflow: hidden;

    > input {
      margin-bottom: 0;
      @include respond-to(mobile) {
        font-size: 14px;
        padding: 18px 11px 20px;
        margin-bottom: 12px;
      }
    }
    > .send {
      position: absolute;
      right: 10px;
      top: 0px;
      @include check-icon;
      &:not(.ng-hide) {
        animation-name: send_check_flip_top;
        animation-duration: 1s;
        transition-timing-function: ease-out;
      }
    }
  }

  .link {
    font-size: 12px;
  }


  input {
    font-size: 12px;
    height: 30px;
    padding: 0 11px;
    &:focus:not(.ng-valid-email) {
      border-color: $relikva-gray-color;
    }
    &.ng-valid-email {
      border-color: $relikva-violet;
    }
  }
}