.registration-page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 9999;
  overflow: scroll;
  @include clearfix;

  > .center {
    margin: 0 auto;
    float: none;
    width: 330px;
    position: absolute;
    top: 50%; left: 50%;
    margin-left: -165px;
    margin-top: -189px;

    @include respond-to(register) {
      top: 40px;
      margin-top: 0;
      margin-bottom: 60px;
    }

    img {
      display: block;
      margin: 0 auto;
      width: 210px;
    }

    .logo-slogan {
      text-align: center;
      margin-top: 10px;
      margin-bottom: 30px;
      font-size: 12px;
    }
  }
}
.registration-white-template {
  input:not(.bottom-input) {
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    border-bottom: $relick-border solid $relikva-violet;
    padding: 0;
    outline: none;
    margin-bottom: 10px;
    font-size: 14px;
    color: #000;
    padding-bottom: 0;
    height: 30px;
    width: 100%;
    box-shadow: none!important;
    @include placeholder_content {
      color: $relikva-black-color;
      box-shadow: none!important;
    }
  }

  .new-password-hint {
    font-size: 12px;
    line-height: 15px;
    color: $relikva-violet;
    margin-top: 5px;
  }

  input[type="submit"] {
    color: $relikva-violet;
    -webkit-appearance: none;
    cursor: pointer;
    background: transparent;
  }

  input.btn-rectangle {
    border: $relick-border solid $relikva-violet;
    height: 40px;
    margin-top: 20px;

    &:hover {
      background: $relikva-violet;
    }
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
  }

  .links {
    margin: 0;
    padding: 0;
    margin-top: 30px;
    list-style: none;
    > li {
      > a {
        color: $relikva-violet;
        font-size: 12px;
      }
    }
  }

  .has-error {
    font-size: 12px;
  }
}





.invitation_accept {
  background: #333 url('/assets/landing/landing-1800-q50.jpg') no-repeat center center;
  background-size: cover;
  color: #fff;
  
  input {
    &:not(.btn-white) {
      background: #fff!important;
      border-bottom: $relick-border solid $relikva-violet;
      border: $relick-border solid $relikva-violet;
      @include placeholder_content {
        -webkit-appearance: none;
        color: $relikva-violet;
      }

      &:focus {
        @include placeholder_content {
          color: $relikva-gray-color;
        }
      }
    }
  }

  .has-error {
    color: #fff;
    font-size: 14px;
  }

  .submit_wrapper {
    text-align: center;
  }
}