$block_margin_bottom: $relic-reader-grid;

.relic_show {
  margin-bottom: $block_margin_bottom;

  section {
    margin-bottom: 40px;
  }

  > .row {
    margin-top: 30px;
    margin-bottom: 65px;
    position: relative;
    @include respond-to(mobile) {
      margin-top: 0;
    }
  }

  button[disabled] {
    color: $relikva-black-color;
    opacity: 1;
    box-shadow: inset 0 0 0 2px $relikva-black-color;
  }

  textarea {
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 10px;
    font-size: $font-size-small;
    background: $relikva-gray-color;
    border-color: $relikva-gray-color;
    color: $relikva-black-color;
  }

  .teaser {
    width: 100%;
    display: block;
    margin-bottom: $block_margin_bottom;
  }
  .gallery, .info {
    @include clearfix;
    position: static;
  }
  .info > .sticky_list {
    padding-top: 3px;
    &:not(.fixed_to_top):not(.fixed_to_bottom) {
      position: relative;
    }
  }

  .resource_manager {
    position: absolute;
    right: 0;
  }

  .buttons_list .btn-rectangle {
    vertical-align: top;
    margin-top: -3px;
  }

  .sharing_counter {
    margin: $grid 0 0;
    @include respond-to(mobile) {
      margin-top: 15px;
    }
  }

  .related_relics {
      margin-bottom: 80px;
  }

  .relic_show_number {
    margin-bottom: 0;
  }

  .resource_manager {
    top: -4px;

    li {
      padding: 1px 8px;
      border-bottom: $relick-xs-border solid $relikva-violet;

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}

.relic_show_number {
  margin-top: -5px;
  font-size: 15px;
  @include respond-to(mobile) {
    margin-top: 7px;
    margin-bottom: 5px;
  }
}

.relic_show_title {
  margin-top: 0;
  margin-bottom: 25px;
  @include respond-to(mobile) {
    margin-top: 8px;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
  }
}

.relic_show_details {
  @include clearfix;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: $font-size-small;
  font-weight: 900;
  line-height: 1.3;
  span {
    font-weight: 500;
  }
  @include respond-to(mobile) {
    border-bottom: $relick-xs-border solid $relikva-border-color;
  }

  > li {
    display: block;
    margin-bottom: 7px;
    @include respond-to(mobile) {
      border-top: $relick-xs-border solid $relikva-border-color;
      margin-bottom: 0;
      padding: 17px 0;
    }
    > ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: inline-block;

      > li {
        display: inline-block;

        > a {
          color: $relikva-violet;
          text-decoration: none;
          &:hover {
            color: $relikva-black-color;
          }
        }
        &:after {
          content: ', ';
          display: inline-block;
          margin-right: .3em;
        }
        &:first-child:after {
          display: none;
        }    
      }
    }
  }
}

.relic_images_gallery + .relic_show_details {
  margin-top: 25px;
  opacity: 0;
  transition: opacity .1s ease-in;
}
.relic_images_gallery.show + .relic_show_details {
  opacity: 1;
}


.relic_show_title + .relic_show_details {
  margin-bottom: 19px;
  @include respond-to(mobile) {
    margin-bottom: 25px;
  }
}

.relic_show_date {
  font-size: 10px;
  margin-bottom: 10px;
}

.relic_show_description {
  width: 100%;
  @include text_serif;
  margin-bottom: 44px;

  p { margin: 0; margin-bottom: 15px; }

  @include respond-to(mobile) {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 15px;
    p {
      margin-top: 0;
    }
  }
}

.relic_show_header_l {
  padding-bottom: $block_margin_bottom;
  border-bottom: $relick-l-border solid $relikva-border-color;
  margin-bottom: $block_margin_bottom*2;
  @include respond-to(mobile) {
    border-bottom: $relick-s-border solid $relikva-border-color;
    font-size: 20px;
    padding-bottom: 8px;
    margin-bottom: 25px;
  }
}
.relic_show_header_s {
  padding-bottom: $block_margin_bottom/2;
  border-bottom: $relick-s-border solid $relikva-border-color;
  margin-bottom: $block_margin_bottom*2;
  font-size: $relic-font-size-title;
}

.relic_show_discussions {
  width: 50%;
  padding-right: $grid/4*3;
  @include respond-to(mobile) {
    width: 100%;
    padding-right: 0;
    margin-bottom: 20px;
  }
}