.relic_form {
  h1 {
    margin: 0 0 40px;
    @include respond-to(mobile) {
      margin-bottom: 20px;
      margin-right: 0;
    }
  }

  .relic_form_header {
    position: relative;
  }

  .mobile-info {
    display: none;
    @include respond-to(mobile) {
      display: block;
      font-size: 10px;
      color: rgba(0,0,0,.3);
      position: absolute;
      top: 43px;
      right: 0;
    }
  }

  abbr {
    display: none;
  }

  label.string, h2 {
    display: block;
    font-size: 1em;
    margin-bottom: 10px;
  }

  .resource_manager {
    right: 0;
    top: 15px;
    @include respond-to(mobile) {
      top: 4px;
    }
  }

  .buttons {
    position: relative;
    .btn-delete {
      position: absolute;
      top: 7px;
      right: 15px;
    }
  }

}

.relic_description > textarea {
  height: 200px;
}

.relic_form {

  .right-column .line {
    margin-bottom: 57px;
  }

  label.string, h2 {
    border-bottom: $relick-s-border solid  $relikva-border-color;
    padding-bottom: 7px;
    margin-bottom: $grid;
    font-size: $relic-font-size-title;
    color: $relikva-black-color;
    font-weight: 900;
    @include respond-to(mobile) {
      font-size: 15px;
      border-bottom: none;
      margin-bottom: 2px;
      border-top: $relick-s-border solid $relikva-black-color;
      padding-top: 33px;
    }
  }

  h1, .relic_privacy {
    display: inline-block;
    position: relative;
  }

  h1 {
    margin-right: 20px;
  }

  .form-group.relic_privacy {
    vertical-align: middle;
    margin-top: 8px;
    margin-bottom: 16px;
  }

  .relic_privacy label { display: none; }

  .separator-top {
    margin: 5px auto 55px;
  }

  .separator-bottom {
    margin: 58px auto 105px;
  }

  .separator .message {
    font-size: 12px;
    margin-bottom: 5px;
    color: $relikva-violet;
  }

  .text-center {
    text-align: center;
  }

  .separator-line {
    background: url('/assets/separator.png') center center repeat no-repeat;
    position: absolute;
    right: 0;
    left: 0;
    height: 1px;
  }


  .relic_title {
    input {
      font-size: $relic-font-size-title;
      height: auto;
      padding: 12px 15px;
      @include respond-to(mobile) {
        font-size: 12px;
        padding: 8px;
      }
    }
  }

  .form-group {
    margin-bottom: 50px;
    @include respond-to(mobile) {
      margin-bottom: 40px;
      position: relative;
    }
  }

  .relic_description .text {
    @include text_serif;
    min-height: 290px;
    @include respond-to(mobile) {
      font-size: 12px;
      min-height: 185px;
      padding: 10px 12px;
      height: auto;
    }
  }

  .relic_description_hint {
    font-size: $font-size-small;

    span {
      color: $relikva-violet;
    }
  }

  .relic_venue input {
    font-size: 12px;
    padding: 0 14px;
    @include respond-to(mobile) {
      padding: 8px;
    }
  }
}

.relic-new-date .slider {
  margin-bottom: 17px;

  input { 
    display: none;
  }

  span {
    font-weight: 900;
  }

  label {
    color: $relikva-violet;
    cursor: pointer;
    font-size: $relic-font-size-title;
  }

  label.active {
    color: $relikva-black-color;
    border-bottom: $relick-s-border solid $relikva-border-color;
    padding-bottom: 7px;
    cursor: normal;
  }
}

.relic-new-date  select  {
  background: $relikva-gray-color;
  border-radius: 0;
  border-color: $relikva-gray-color;
  -webkit-appearance: none;
  font-size: $font-size-small;
  color: $relikva-black-color;
  position: relative;
  height: auto;
  padding: 6px 15px 5px 8px;
  z-index: 9;
}

.relic-new-date input {
  font-size: $font-size-small;
  padding: 6px 10px 5px;
  height: auto;
  width: 50px;
  text-transform: uppercase;
}

#description_counter_wrapper {
  margin-top: -40px;
  font-size: 0.8em;

  span.area {
    color: $relikva-violet;
  }
}