$popup-width: 881px;
$avatar-width: 26px;

.relic_popup {
  width: 90%;
  max-width: 880px;
  padding: 0;
}

.relic_popup + .overlay {
  background-color: rgba(0,0,0,.8);
}

.relic_popup_close {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  background-image: url("/assets/relic_popup/close_hover.svg");
  background-repeat: no-repeat;
  width: 73px;
  height: 149px;
  background-size: cover;
  background-position: top left;
  cursor: pointer;

  &:hover {
    background-image: url("/assets/relic_popup/close.svg");
  }
}

.relic_popup_container {
  max-width: $popup-width;
  margin: 15px auto;
  padding: 52px 90px;
  background: #fff;
  position: relative;
  overflow: hidden;
}

.relic_popup_header {
  position: relative;
  border-bottom: $relick-xs-border solid $relikva-border-color;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.relic_popup_type {
  border-bottom: $relick-xs-border solid $relikva-border-color;
  font-size: 13px;
  padding-bottom: 2px;
}

.relic_popup_header .bottom-relic-line-tools {
  position: absolute;
  right: 0;
  top: -2px;
}

.relic_popup_title {
  font-size: 50px;
  line-height: 50px;
  margin: 20px auto;
}

.relic_popup_header .pull-left {
  width: $avatar-width;
  height: $avatar-width;
  margin-right: 7px;
}

.relic_popup_header .media.autor .media-body {
  font-size: 13px;
  display: inline-block;
  margin-top: 5px;
}

.relic_popup_header .media.autor {
  display: inline-block;
  vertical-align: top;
  margin-top: 0;
}

.relic_popup_date {
  display: inline-block;
  vertical-align: top;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: .5px;
  margin: 0 auto;
  margin: 10px 0 0 8px;
  line-height: 1;
}

.relic_popup_header .resource_manager {
  bottom: 32px;
  top: auto;
  right: 0;

  .user-menu-button {
    text-transform: uppercase;
    color: $relikva-black-color;
    letter-spacing: .5px;
  }

  .caret {
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    margin-left: 7px;
  }
}

.relic_popup_description {
  border-bottom: $relick-xs-border solid $relikva-border-color;
  line-height: 25px;
  color: $relikva-black-color;
  padding-bottom: 18px;
  margin-bottom: 38px;
}

.relic_popup_info {
  border-bottom: $relick-xs-border solid $relikva-border-color;
  margin-bottom: 30px;
  padding-bottom: 14px;
  @include clearfix;
}

.relic_popup_info .relic_show_details {
  float: left;
  width: 46%;
  margin-right: 8%;

  li {
    margin-bottom: 20px;
  }

  .name {
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: .5px;
  }

  .relic_show_details_content {
    padding-left: 15px;
    margin-top: 9px;
    font-weight: normal;

    a {
      color: $relikva-black-color;
    }
  }
}

.relic_popup_info .relic_show_details.second_row {
  margin-right: 0;
}

.relic_popup_actions {
  position: relative;
}

.relic_popup_add_to_collection {
  position: absolute;
  right: 0;
  top: 0;

  .btn {
    box-shadow: inset 0 0 0 1px $relikva-black-color !important;
    color: $relikva-black-color !important;
  }
}

.relic_popup_container .relic_show_discussions {
  width: 100%;
  padding-right: 0;

  .relic_show_header_l {
    margin-top: 0;
    border-bottom: none;
    padding-bottom: 0;
    font-size: 25px;
  }
}

.relic_popup_container .relic_show_investigations {
  .relic_show_header_l {
    margin-top: 0;
    border-bottom: none;
    padding-bottom: 0;
    font-size: 25px;
  }

  .relic_investigation_new {
    
  }

  .relic_investigation {
    width: 100%;
  }
}













