.search-input {
  font-size: 41px;
  line-height: 42px;
  border: $relick-s-border solid $relikva-border-color;
  height: auto;
  background: #fff;
  padding: 8px 12px;
  margin-bottom: 40px;
  @include placeholder_content {
    color: $relikva-black-color;
    line-height: 50px;
    transition: all 0.25s ease-in-out;
  }
}

.search-input:focus {
  border-color: $relikva-border-color;
  @include placeholder_content {
    line-height: 100px;
    opacity: 0;
  }
}

.search-page .teaser {
  margin-bottom: 15px;
}

.search-results-count {
  font-size: 12px;
  margin-bottom: 15px;
}

header.navbar .navbar-nav .search-link {
  font-size: 22px;
  height: auto;
}

header.navbar .navbar-nav .search-link .icon-search {
  padding-top: 0;
  padding-right: 0px;
  padding-left: 0;
  padding-bottom: 0;
  height: auto;
  margin-top: 20px;
  color: $relikva-black-color;
  background: transparent;

  &:hover {
    background-color: #fff;
    color: $relikva-violet;
  }
}




