$user-follow-header-size: 31px;

.user-follow {
  margin-bottom: 60px;
  position: relative;

  h1 {
    font-size: $user-follow-header-size;
    display: inline-block;
    position: relative;
    margin-top: 0;
    margin-bottom: 55px;

    @include respond-to(mobile) {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 20px;
    }

    > * {
      display: inline-block;
      vertical-align: middle;
      margin: 0;
    }

    > .media.autor {
      > * {
        display: inline-block;
        vertical-align: middle;
      }

      > img {
        float: none !important;
        width: 60px;
        height: 60px;
        margin: 0 12px 0 0;
      }

      > .media-body {
        font-size: $user-follow-header-size;
        margin: 0;
      }
    }

    > .subscription-btn {
      transform: scale(2);
      position: relative;
      margin: 5px 30px 0;
    }
  }

  .subscription_block {
    border-bottom: $relick-xs-border solid $relikva-black-color;
    padding-bottom: 12px;
    margin-bottom: 15px;

    .subscription-btn {
      top: 5px;
      right: 15px;
    }
  }
}

.you-know-them .bottom-buttons {
  text-align: center;
  margin-top: 40px;
  @include respond-to(mobile) {
    margin-top: 20px;
  }
  .btn-rectangle {
    margin: 0 12px;
    @include respond-to(mobile) {
      display: block;
      width: 100%;
      margin: 0 auto 15px;
      font-size: 15px;
      padding: 10px 15px 9px;
    }
  }
}

.user-follow-search {
  position: absolute;
  top: -4px;
  right: 15px;
  left: 450px;

  .form-control {
    width: 100%;
    border-color: $relikva-border-color;
    padding-left: 56px;
    font-size: 14px;
    font-weight: 900;
    @include placeholder_content {
      color: $relikva-black-color;
    }
  }

  &:before {
    position: absolute;
    font-size: 20px;
    top: 11px;
    left: 20px;
    color: $relikva-black-color;
  }
}















