$avatar-size: 100px;

.account_user_uploader {
  @include clearfix;

  .btn-rectangle {
    cursor: pointer;
  }

  > .wrapper {
    width: $avatar-size;
    height: $avatar-size;
    background-size: cover;
    background-position: 50% 50%;
    margin-right: 20px;
    border-radius: 100px;
  }
  li {
    margin-right: 5px;
  }
  > .wrapper, > ul, > ul > li {
    display: inline-block;
    vertical-align: middle;
  }
}

.edit-profile {
  h1 {
    margin-top: 0;
    margin-bottom: 50px;
  }

  label.string, h2 {
    border-bottom: $relick-s-border solid $relikva-border-color;
    padding-bottom: 7px;
    margin-bottom: $grid;
    font-size: $relic-font-size-title;
    color: $relikva-black-color;
    width: 100%;
    margin-top: 0;
  }

  .password_updater {
    .form-group {
      margin-bottom: 15px;
    }
  }

  .form-group {
    margin-bottom: 60px;
  }

  .radio_buttons {
    h2 {
      margin-bottom: 10px;
    }

    label {
      font-weight: 500;
      font-size: 12px;
      margin-right: 15px;
      margin-bottom: 0;
      cursor: pointer;
      position: relative;

      input {
        opacity: 0;
        display: none;
      }
      
      @include before {
        content: ' ';
        display:inline-block;
        vertical-align: top;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        box-shadow: inset 0px 0px 0px 1px $relikva-violet;
        margin-right: 4px;
        margin-top: 2px;
        transition: all ease-in-out .3s;
      }

      &.active {
        @include after {
          content: ' ';
          display:inline-block;
          vertical-align: top;
          border-radius: 50%;
          width: 8px;
          height: 8px;
          margin-right: 5px;
          margin-top: 1px;
          background: $relikva-violet;
          position: absolute;
          left: 2px;
          top: 3px;
          transition: all ease-in-out .3s;
        }
      }
    }
  }

  .input_wrapper {
    position: relative;
    padding-left: 118px;
    span {
      font-size: 12px;
      position: absolute;
      top: 10px;
      left: 0;
    }
  }

  .buttons {
    width: 125px;
  }
}
