.user_show {
  padding-bottom: 100px;
  @include respond-to(mobile) {
    padding-bottom: 50px;
  }
}

.profile-info {
  margin-bottom: 60px;
  position: relative;
  @include respond-to(mobile) {
    border-bottom: $relick-xs-border solid $relikva-black-color;
    padding-bottom: 22px;
    margin-bottom: 25px;
  }

  .autor img {
    @include respond-to(mobile) {
      width: 50px;
      height: 50px;
    }
  }

  .autor {
    @include respond-to(mobile) {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.profile_box_sidebar {
  margin-top: 6px;

  @include respond-to(mobile) {
    margin-top: 0;
  }
}

.profile_box_title {
  font-size: $relic-font-size-title;
  position: relative;
  @include respond-to(mobile) {
    font-size: 15px;
    padding-top: 13px;
    margin-top: 0;
    padding-left: 60px;
  }

  .subscription-btn {
    top: 0;
    @include respond-to(mobile) {
      top: 15px;
    }
  }
}

.profile_box_sidebar {
  > .subscriptions_block {
    margin-top: 30px;
  }


}