$break-small: 480px;
$break-middle: 750px;
$break-landing: 860px;
$break-large: 992px;
$break-superlarge: 1300px;


$relikva-font-color: #333;
$relikva-border-color: #000;
$relikva-black-color: #222;
$relikva-gray-color: #eaeaea;

$relikva-header-bg-color: #fff;
$relikva-header-height: 90px;

$relikva-violet: #6633cc;

$relikva-grid-gutter-width: 30px;
$grid: 20px;

$relick-xs-border: 1px;
$relick-s-border: 3px;
$relick-m-border: 10px;
$relick-l-border: 15px;
$relick-button-border: 4px;
$relick-border: 2px;

$relic-font-size-title: 1.0625em;

$relic-reader-grid: 15px;