//@import 'angular/angular-csp';

html {
  font-size: 100%;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body, input, select, textarea, button, .btn {
  -webkit-font-smoothing: antialiased;
}

body, html {
  min-height: 100%;
}

body {
  @include clearfix;
  position: relative;

  &.handsomely {
    animation-name: handsomely;
    animation-duration: .5s;
    transition-timing-function: ease-out;
  }
}

a {
  color: $relikva-violet;
  text-decoration: none;
  &:hover, &:active, &:focus {
    color: #000;
    text-decoration: none;
  }
}

address {
  margin-bottom: 0;
}

h1, h2, h3, h5 {
  font-weight: 900;
}

h1 {
  font-size: 2.55em;
  line-height: 1em;
  @include respond-to(mobile) {
    font-size: 25px;
    line-height: 25px;
  }
}

h3 {
  font-size: 1.9375em;
  line-height: .98em;
  @include respond-to(mobile) {
    font-size: 20px;
    line-height: 20px;
  }
}

h5 {
  font-size: .95em;
  line-height: 1.35em;
}

strong {
  font-weight: 900;
  color: $relikva-black-color;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.turbo-page {
  .collection_reader,
  .relic_reader,
  > .relic_show,
  > .relic_show + footer.footer,
   {
    transition: opacity .2s ease;
  }
  &.start_loading_router {
    .collection_reader,
    .relic_reader,
    > .relic_show,
    > .relic_show + footer.footer {
      opacity: 0;
    }
    > .relic_show {
      .related_relics {
        opacity: 0;
      }
    }
  }
}

.show_in_mobile {
  display: none;
  @include respond-to(mobile) {
    display: block;
  }
}

//.highlighted {
//  @include keyframes_animation(highlighted, 1.75s);
//  animation-delay: .25s;
//}

//@keyframes highlighted {
//  0% {
//    border-color: #000;
//  }
//  25% {
//    border-color: $relikva-violet;
//  }
//  75% {
//    border-color: $relikva-violet; 
//  }
//  100% {
//    border-color: #000; 
//  }
//}