@mixin thin_text {
  font-style: italic;
  font-family: $font-family-serif;
  font-size: .9em;
  line-height: 1.2;
  &, a {
    color: $gray-light;
  }
  a:hover {
    color: $gray-dark;
  }
}

@mixin keyframes_animation($animation-name, $t: .5s) {
  animation-fill-mode: both;
  animation-duration: $t;
  animation-name: $animation-name;  
}

@mixin text_serif {
  font-family: $font-family-serif;
  font-size: 18px;
  overflow: hidden;
}

@mixin before {
  &:before {
    content: '';
    @content;
  }
}

@mixin after {
  &:after {
    content: '';
    @content;
  }
}

@mixin respond-to($media) {
  @if $media == iphone {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @if $media == register {
    @media only screen and (max-height: $break-small) { @content; }
  }
  @else if $media == mobile {
    @media only screen and (max-width: $break-middle - 1) {@content; }
  }
  @else if $media == landing {
    @media only screen and (max-width: $break-landing) {@content; }
  }
  @else if $media == medium {
    @media only screen and (min-width: $break-middle) and (max-width: $break-large - 1) {@content; }
  }
  @else if $media == large {
    @media only screen and (min-width: $break-large) { @content; }
  }
  @else if $media == superlarge {
    @media only screen and (min-width: $break-superlarge) {@content; }
  }
}

@mixin retina {
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) { 
      @content;
   }
}

@mixin placeholder_content {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }
}


@mixin line-clamp($lines: 3) {
  -webkit-line-clamp: $lines;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  @include after {
    content: '...';
    background: #fff;
    position: relative;
    display: inline-block;
  }
}

@mixin responsive-background($url, $url_x2) {
  @include retina {
    background-image: url($url_x2);
  }
  background-image: url($url);
}

@mixin fix_broadcast_scroll_event {
  pointer-events: none;
  > * {
      pointer-events: auto;
  }
}

@mixin check-icon ($color: $relikva-violet, $border: 2px, $width: 18px, $height: 8px) {
  @include after {
    display: inline-block;
    transition: all .3s ease;
    width: $width;
    height: $height;
    border: solid $color;
    border-width: 0 0 $border $border;
    transform: rotate(-52deg);
    @content;
  }
}

@keyframes send_check_flip_top {
  0% {
    opacity: 0;
    transform: translateY(200%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes send_check_hide_bottom {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-200%);
  }
}

@keyframes handsomely {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

