$triangle-size-h: 22px;
$triangle-size-w: 26px;

.activity_feed {
  &::selection, *::selection {
    background: transparent;
  }

  > .dropdown-toggle {
    cursor: pointer;
    position: relative;
    padding-left:  $triangle-size-w;
    height: $triangle-size-h;
    margin-bottom: 7px;

    &:before {
      font-size: 25px;
      position: absolute;
      top: 0;
      left: 0;
      transition: .3s all ease-in-out;
    }

    > .count {
      position: absolute;
      top: -8px;
      font-size: 12px;
      left: 20px;
      color: $relikva-violet;
      font-weight: 900;
    }

    &.newest {
      &:before {
        color: $relikva-violet;
      }
    }
  }
  > .dropdown-menu {
    width: 378px;
    margin-top: 13px;
    left: -278px;
    @include fix_broadcast_scroll_event;

    > ul {
      margin: 0;
      list-style: none;
      overflow: auto;
      max-height: 400px;
      padding: 0;

      > li {
        padding: 14px 0;
        border-bottom: $relick-xs-border solid $relikva-border-color;
        width: 342px;
        margin: 0 auto;
        &.activity_feed_item { @include fadeIn( .5s, 0, 0s, ease-out, both ); }

        &:hover {
          background: transparent;
          a {
            color: $relikva-violet;
          }
        }

        &:last-child {
          border-bottom: none;
        }
        > a {
          clear: none;
          padding: 0;
        }
      }
    }
    &:before {
      right: 70px;
    }
    &:after {
      right: 75px;
    }
    a {
      border-bottom: none;
    }
    .pull-right {
      width: 60px;
      height: 60px;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
      }
    }
  }
}

.activity_feed_item {
  font-size: $font-size-small;
  margin: 0;

  &.new {
    position: relative;
//    @include after {
//      position: absolute;
//      top: 18px;
//      right: 4px;
//      border-radius: 50%;
//      background: $relikva-violet;
//      width: 5px;
//      height: 5px;
//    }
  }

  &:not(.new) {
    filter: grayscale(100%);
  }

  &:hover {
    background: transparent;
    &:not(.new) {
      
    }
  }

  > .media-body {
    > a {
      color: $relikva-border-color;
      transition: color .2s ease-out;
      &:hover {
        color: $relikva-violet;
        transition: color .05s ease-out;
      }
      &.sender_name {
        font-weight: bold;
      }
    }
  }
}

.af_sender_avatar {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: block;
  opacity: .7;
  transition: opacity .3s ease-out;
}

.af_resource_image {
  width: 60px;
  display: block;
  opacity: 1;
  transition: opacity .3s ease-out;
  &:hover {
    transition: color .05s ease-out;
    opacity: .7;
  }
}
