@keyframes alert-screen-service-show {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.alert-screen-service {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255,255,255,.95);
  width: 100%;
  height: 100%;
  text-align: center;
  
  display: none;
  transition: .5s all ease-in-out;
  opacity: 0;

  &.float {
    display: table;
    opacity: 1;
    animation-name: alert-screen-service-show;
    animation-duration: .5s;
    transition-timing-function: ease-out;
  }

  &.disappears {
    display: table;
    transform: translateY(-20px);
    opacity: 0;
  } 

  > .wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
    > * {
      margin: 0 auto;
      text-align: center;
    }
    .type {
      @include check-icon;
      margin-bottom: 6px;
    }
    .message {
      color: $relikva-violet;
      font-size: 14px;
      font-weight: 900;
    }
  }
}