.angucomplete-holder {
  position: relative;
}

.angucomplete-dropdown {
  width: 100%;
  border: #000 2px solid;
  padding: 0;
  cursor: pointer;
  z-index: 9999;
  position: absolute;
  background-color: #fff;
  margin-top: -1px;

  animation-name: show-dropdown-angucomplete;
  animation-duration: .25s;
  transition-timing-function: ease-out;
}

.angucomplete-row {
  padding: 5px 15px;
  height: 40px;
  display: table;
  width: 100%;
  font-size: $font-size-large;
  color: #000;
  margin: 0;

  &.angucomplete-selected-row, &:hover {
    color: #ffffff;
    background: $relikva-violet;
  }
}

.angucomplete-image-holder {
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #eee;

  > img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: opacity .3s ease-out;
    opacity: 0;

    &[src] {
      opacity: 1
    }
  }
}
.angucomplete-title {
  padding-left: 40px;
  font-size: $font-size-base;
  vertical-align: middle;
  display: table-cell;
  width: 100%;
}

.angucomplete-searching {
  padding: 10px 15px;
  color: $relikva-violet;
}

@keyframes show-dropdown-angucomplete {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
