.autor {
  font-size: $font-size-small;
  font-weight: 900;

  img {
    border-radius: 50%;
    display: block;

  }
}

a.autor, .autor a {
  > img.x60 {
    filter: grayscale(100%);
    transition: all .3s ease-out;   
  }

  &:hover {
    color: $relikva-font-color;
    &:hover {
      &, > strong {
        color: $relikva-violet;
      }
      > img.x60 {
        filter: grayscale(0);
      }
    }
  }
}