$btn-rectangle-border-size: 1px;

@mixin btn-rectangle($color, $hover-color) {
  font-size: 13px;
  font-weight: 900;
  border-radius: 0;
  padding: $btn-rectangle-border-size $btn-rectangle-border-size*5;
  color: $color !important;
  margin: 0;
  border: 0;
  transition: all ease-in-out .2s;

  &, &:active, &.active {
    background: transparent;
    box-shadow: inset 0 0 0 $btn-rectangle-border-size $color !important;
  }

  &, &:hover, &:active {
    text-decoration: none;
  }

  &:hover {
    background: $color !important;
    color: $hover-color !important;
  }

  &.big {
    font-size: 17px;
    padding: 2px 15px 4px;
  }
}


.btn-delete {
  font-size: $font-size-small;
  color: $relikva-violet;
  cursor: pointer;
  text-decoration: none;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;

  &:focus, &:hover {
    color: #000
  }
}

.btn {
  transition: all .5s;
  &:focus {
    outline: none;
  }
  &:hover {
    transition: all .15s
  }
}

.btn-rectangle {
  @include btn-rectangle($relikva-violet, #fff);

  &[disabled] {
    box-shadow: inset 0 0 0 $btn-rectangle-border-size #222!important;
    color: $relikva-black-color!important;
    box-shadow: inset 0 0 0 2px #222 !important;
    background: transparent !important;
    cursor: no-drop;
  }
}

.btn-white {
  @include btn-rectangle(#fff, $relikva-violet);
}

.like-button {
  font-size: $font-size-small;
  font-weight: 900;
  border-radius: 0;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  color: $relikva-border-color;
  outline: none;
  position: relative;
  cursor: pointer;

  &:before {
    vertical-align: top;
    margin-top: 1px;
  }

  &:before,
  &:after {
    content: '';
    display: inline-block;
    width: 15px;
  }

  &:before {
    border: 2px solid $relikva-violet;
    margin-right: .5em;
    height: 15px;
  }

  &:after {
    position: absolute;
    top: 1px;
    left: 1px;
    height: .4em;
    transition: all .15s ease;
    border: solid $relikva-violet;
    transform: scale(.5) rotate(130deg) translateY(-1em);
    border-width: 0 1px 0 0;
    width: 0;
    opacity: 0;
    box-shadow: -1px -2px 0 1px #fff;
    margin-top: 1px;
    margin-left: 2px;
  }

  span {
    color: $relikva-black-color;
    transition: all ease-in-out .2s;
  }

  &.active {
    color: $relikva-violet;
    &:after {
      transform: rotate(127deg);
      border: solid $relikva-violet;
      border-width: 2px 2px 0 0;
      width: 1.1em;
      opacity: 1;
      background: #fff;
    }

//    &:hover span {
//      color: $relikva-violet;
//    }
  }
}

.buttons_list {
  @include clearfix;
  > * {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
  }
}

.violet {
  color: $relikva-violet;
}

.btn-edit {
  font-weight: 900;
  font-size: 12px;
  color: $relikva-black-color;
  &:hover {
    color: $relikva-violet;
  }
}

.hand {
  cursor: pointer;
}