.form-group > .checkbox {
  input[type="checkbox"] {
    display: none;
  }


  > label {
    padding-left: 22px;
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 4px;
      left: 0;
      width: 15px;
    }

    &:after {
      opacity: 0;
      transform: scale(.9,.9);
      box-shadow: 0 1px 0px 1px #fff;
      margin: 0 0 0 2px;
    }

    &:before {
      border: 2px solid $relikva-violet;
      margin-right: .5em;
      height: 15px;
    }

    @include check-icon($relikva-violet, 2px, 15px, 7px);

    &.active {
      color: $relikva-violet;
      &:after {
        opacity: 1;
      }
    }
  }
}