.collection_popup {
  h4 {
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 25px;
    line-height: 1;
  }

  .create-collection {
    border: none;
    padding: 0;
    font-size: 14px;
    color: $relikva-violet;
    background: #fff;
    -webkit-appearance: none;
    position: absolute;
    bottom: 27px;
    right: 15px;
  }

  .resource_manager {
    top: 22px;
  }

  ul {
    border-top: $relick-xs-border solid $relikva-black-color;
    margin-bottom: 30px;

    > li {
      border-bottom: $relick-xs-border solid $relikva-black-color;
      margin: 0;
      padding: 13px 0 12px;

      > label {
        &:before,
        &:after {
          content: '';
          position: absolute;
          top: 15px!important;
        }
        &:before {
          left: 0!important;
        }
        &:after {

        }
      }
    }

    .checkbox + .checkbox {
      margin-top: 0;
    }

    span {
      font-size: 12px;
      line-height: 15px;
      display: inline-block;
      vertical-align: top;
      margin-top: 1px;
    }
  }

  .new-collection {
    label {
      border-bottom: $relick-s-border solid  $relikva-border-color;
      padding-bottom: 7px;
      margin-bottom: $grid;
      font-size: $relic-font-size-title;
      color: $relikva-black-color;
      font-weight: 900;
      width: 100%;
    }

    .form-group {
      margin-bottom: 30px;
    }
  }
}