$collection_images_padding: 10px;
$collection-reader-grid: $grid-gutter-width/2;

.collection_reader {
  padding: $collection-reader-grid 0 $grid*3;
  position: relative;
  border-bottom: $relick-m-border solid $relikva-border-color;
  margin-bottom: 53px;
  @include respond-to(mobile) {
    border-bottom-width: $relick-m-border;
    margin-bottom: 40px;
    padding-bottom: 35px;
  }

  > .wrapper {
    position: relative;
    @include clearfix;
    margin: 0 (-$collection-reader-grid);

    > .images {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      overflow: hidden;
      max-height: 390px;
      @include respond-to(mobile) {
        position: relative;
        max-height: 100%;
      }

      > .box-shadow {
        position: absolute;
        z-index: 8;
        bottom: -20px;
        left: 20px;
        right: 20px;
        box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.5);
        height: 20px;
        border-radius: 15%;
      }
    }

    > .info {
      float: right;
    }
  }

  .title {
    margin: 0 0 25px;
    @include respond-to(mobile) {
      margin-top: 8px;
      font-size: 30px;
      line-height: 30px;
    }
  }

  .description {
    margin: 0 0 40px;
    font-family: $font-family-serif;
    font-size: 18px;
    width: 100%;
    overflow: hidden;
    @include respond-to(mobile) {
      font-size: 15px;
      line-height: 20px;
      margin-top: 15px;
      margin-bottom: 25px;
    }
    > p {
      margin: 0;
    }
  }

  h5 {
    margin-top: -4px;
    margin-bottom: 3px;

    @include respond-to(mobile) {
      margin-top: 5px;
      font-size: 15px;
    }
  }

  .resource_manager {
    top: -7px;

    li {
      padding: 1px 8px !important;
      border-bottom: $relick-xs-border solid $relikva-violet;

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}

.collection_images_listing {
  margin: 0 (-$collection_images_padding/2);
  padding: 0;
  
  display: flex;
  // flex-direction: row;
  // align-items: center;
  // justify-content: space-between;
  // align-content: stretch;
  flex-flow: row wrap;
  justify-content: flex-start;

  > li {
    display: block;
    width: 33.3%;
    padding: 0 $collection_images_padding/2 $collection_images_padding;
    float: left;
    

    > .blank, > a {
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      overflow: hidden;
      display: block;
      background-size: cover;
      background-position: 50% 50%;
    }

    > .blank {
      border: 2px solid $relikva-border-color;
      position: relative;

      &:before {
        content: ' ';
        width: 282px;
        height: 2px;
        transform: rotate(-45.5deg);
        position: absolute;
        bottom: 72px;
        left: -70px;
        background: $relikva-black-color;
      }
    }

    > a {

    }
  }
}
