$comment-avatar-size: 60px;

.relic-comments {

}

.relic_comment {
  padding: 0 10px;

  &.investigation {
    background: #f9f9f9;
    border: 1px solid #CCC;
    border-radius: 4px;
    .media + .media {
      margin-top: 10px;
    }
  }

  .is_investigation {
    //background: #eee;
    padding: 10px 0 15px;
    margin: 0;
    text-align: center;
  }

  .is_investigation + .media {
    margin-top: 0;
  }

  .media-heading {
    font-weight: normal;
    font-size: .8em;
    a {
      color: #000;
    }
  }

  p {
    margin-bottom: 5px
  }

  .body {
    color: $gray-light;
  }

  .btn-group {
    margin: 0 0 10px 0;
    opacity: 0;
    cursor: default;
    transition: opacity .2s ease;
    label {
      font-size: .9em;
      text-decoration: underline;
      font-weight: normal;
      cursor: pointer;
      margin: 0;
    }
  }

  &:hover .btn-group {
    opacity: 1;
    cursor: pointer;
  }

  .avatar {
    width: $comment-avatar-size;
  }

  .relic_comment {
    padding: 0;
    .avatar {
      width: $comment-avatar-size/2
    }
  }

  textarea {
    margin-bottom: 4px;
  }

  .nav {
    margin-top: 30px;
  }

}

.media.reply {
  margin-top: 25px;
  padding-bottom: 5px;
}


.media.relic_comment.investigation {
  padding-bottom: 5px;
}