.dropdown-menu {
  box-shadow: none;
  border-radius: 0;
  border: $relick-s-border solid $relikva-border-color;
  background: #fff;
  margin-top: 15px;
  font-size: $font-size-small;
  padding: 0;

  &:before {
    content: ' ';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12px 17px 12px;
    border-color: transparent transparent $relikva-border-color transparent;
    display: block;
    position: absolute;
    right: 12px;
    top: -17px;
  }
  &:after {
    content: ' ';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 10px 7px;
    border-color: transparent transparent #fff transparent;
    display: block;
    position: absolute;
    right: 17px;
    top: -10px;
  }

  li {
    padding: 0 12px;
    margin-top: -1px;
    z-index: 99999;

    > a {
      border-bottom: $relick-xs-border solid $relikva-border-color;
      padding: 10px 0;
      background: transparent!important;
    }
    
    &:hover {
      background: $relikva-violet;
      > a {
        border-bottom-color: $relikva-violet;
        &, * {  
          color: #fff;
        }
      }
    }

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      a { border-bottom: none; }
    }
  }
}


.dropdown{
  &::selection, *::selection {
    background: transparent;
  }

  &.open {
    > .dropdown-menu {
      animation-name: show-dropdown-menu;
      animation-duration: .25s;
      transition-timing-function: ease-out;
    }
  }
}

@keyframes show-dropdown-menu {
  0% {
    opacity: 0;
    transform: translateY(-50%) scale(.9,.01) ;
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1,1);
  }
}
