.empty-profile {

  h3 {
    font-size: 20px;
    margin-top: 0;
    line-height: 23px;
    max-width: 330px;
  }

  .to-invites {
    color: $relikva-black-color;
    margin-left: 15px;
    font-size: 12px;
    &:hover {
      color: $relikva-violet;
    }
  }
}

.edit-profile-empty {
  margin-top: 30px;
}