[role="main"] > .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-menu {
  padding: 0;
  margin: 0;
  margin-top: 5px;
  > li {
    display: inline-block;
    vertical-align: inherit;
    margin-right: 25px;
    &:last-child {
      margin-right: none;
    }
  }
}

.footer-wrapper {
  padding: 25px 0 35px;
  position: relative;
  color: $relikva-black-color;
  font-size: $font-size-small;
  line-height: 1;

  a {
    font-size: $font-size-small;
    @include respond-to(mobile) {
      font-size: 10px;
    }
  }

  @include before {
    border-top: $relick-xs-border solid $relikva-border-color;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
  }

  &.in_body {
    padding-left: 15px;
    padding-right: 15px;

    @include before {
      border-top: $relick-s-border solid $relikva-border-color;
      left: 15px;
      right: 15px;
    }

    .footer-menu {
      display: block;
      width: 100%;
    }
  }
  &.in_sidebar {
    > ul { 
      display: flex;
      justify-content: space-between;
      > li {
        margin: 0;
        &.footer-brand { display: none; } 
      }
    }
  }
}

.show_in_mobile {
  > .footer > .footer-wrapper {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    @include before {
      display: none;
    }
  }
  > .footer-placeholder {
    display: none;
  }
}


.footer-brand {
  width: 14px;
  display: block;

  img {
    display: block;
    width: 100%;
  }
  @include respond-to(mobile) {
    display: none;
  }
}

.footer-placeholder {
  display:block;
  height: 74px;
  @include respond-to(mobile) {
    height: 137px;
  }
}