select.datetime {
  width: auto;
  display: inline-block;
}

.form-group.datetime {
  label {
    display: block;
  }
}

.form-control {
  box-shadow: none;
  -webkit-font-smoothing: antialiased;
  &:focus {
    box-shadow: none;
    border-color: $relikva-violet;
  }
  &[disabled] {
    border-color: #CCC !important;
    color: #666 !important;
  }
}

.form-group.select:before {
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  border-color: $relikva-violet transparent transparent transparent;
  position: absolute;
  top: 8px;
  right: 7px;
  z-index: 99;
}

.form-group .select {
  background: #fff;
  border-radius: 0;
  border-color: $relikva-violet;
  -webkit-appearance: none;
  font-size: $font-size-small;
  color: $relikva-violet;
  position: relative;
  height: auto;
  padding: 0px 15px 1px 8px;
  z-index: 9;
}

input, textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

.checkbox input {
  opacity: 0;
}

label.small {
  font-size: 12px;
}

.input_error_block {
  font-size: 12px;
  color: #E63419;
  margin-bottom: 8px;
}