.pac-container {
  border: $relikva-border-color 2px solid;
  padding: 0;
  cursor: pointer;
  background-color: #fff;
  margin-top: -1px;
  border-radius: 0;

  animation-name: show-dropdown-angucomplete;
  animation-duration: .25s;
  transition-timing-function: ease-out;

  box-shadow: none;
}

.pac-item {
  border-top-color: $relikva-border-color;
  padding: 2px 10px;
  cursor: pointer;
  &:hover {
    background-color: $relikva-violet;
    .pac-item-query { color: #ccc; }
    .pac-matched { color: #fff; }
    .pac-icon-marker { background-position: -1px 100px; }
  }
  &.pac-item-selected {
    background-color: $relikva-violet;
    .pac-item-query { color: #ccc; }
    .pac-matched { color: #fff; }  
  }
}
.pac-container:after{
  display: none;
}