$header-small-border: $relick-s-border;
$header-big-border: $relick-l-border;

.header-placeholder {
  position: relative;
  height: $navbar-height;
}

.guest-login {
  position: absolute;
  right: 15px;
  top: 25px;

  .dropdown-menu {
    left: -228px;
    margin-top: 28px;

    &:after {
      right: 13px;
    }

    &:before {
      right: 13px;
    }
  }
}

.navbar-header.logo {
  width: 315px;

  > .navbar-brand {
    padding-top: 34px;
    padding-bottom: 0;
    @include respond-to(mobile) {
      height: 75px;
    }
    > img {
      width: 172px;
      @include respond-to(mobile) {
        width: 128px;
      }
    }
  }
}

.new-relic-button {
  padding: 45px 15px 15px;

  @include respond-to(mobile) {
    display: none;
  }

  .dropdown-menu {
    margin-top: -5px;

    &:before, &:after {
      left: 13px;
      right: auto;
    }

    &:after {
      left: 18px;
    }
  }
}

.header_add_button {
  color: $relikva-border-color;
  font-weight: 900;
  line-height: 1;
  font-size: 24px;
  cursor: pointer;
  &:before {
    content: "+";
    display: inline-block;
    border: $relick-button-border solid $relikva-border-color;
    width: 30px;
    text-align: center;
    margin-right: 5px;
    line-height: 0.7;
    height: 30px;
    font-size: 26px;
  }
  &:hover {
    text-decoration: none;
    color: $relikva-violet;

    &:before {
      border-color: $relikva-violet;
      color: $relikva-violet;
    }
  }
}

.header-placeholder + .sliders {
  display: none;
}

header.navbar {
  background:$navbar-default-bg;
  border-width: 0;

  @include respond-to(mobile) {
    min-height: 75px;
  }

  .navbar-collapse {
    color: $navbar-default-color;
  }
  
  .navbar-nav {
    &, > li, > li > a {
      height: $relikva-header-height - $header-small-border;
    }
  }

  > .container:before {
    height: $header-small-border;
  }
}
.header-placeholder {
  margin-bottom: $grid*2;
  @include respond-to(mobile) {
    margin-bottom: $grid;
  }

  &, > .container {
    height: $relikva-header-height;
    @include respond-to(mobile) {
      height: $relikva-header-height;
    }
  }

  > .container:before {
    height: $header-big-border;
  }
}

.header-placeholder .container, header.navbar .container {
   position: relative; 
  &:before {
    content: " ";
    display: block;
    position: absolute;
    bottom: 0;
    left:   $grid-gutter-width / 2;
    right:  $grid-gutter-width / 2;
    background: $navbar-default-border;
  }
}
