.investigation_block {
  .investigation {
    padding-top: 15px;
    font-weight: 900;
  }
  .relic_title {
    margin-bottom: 10px;
    color: $relikva-black-color;
    line-height: 1.3;
    font-size: $font-size-small;
    > a:hover {
      color: $relikva-violet;
    }
  }
  .autor {
    margin-bottom: 10px;
    display: block;
  }
  .media-body {
    vertical-align: middle;
    display: inline-block;
    line-height: 30px;
  }
  .text {
    margin: 0 0 13px;
    font-size: $relic-font-size-title;
    line-height: 1.2;
    &, > a {
      color: $relikva-violet;
      &:hover {
        color: $relikva-black-color;
      }
    }
  }
}