.invitation_sender {
  margin-bottom: 55px;

  .invite-message {
    font-size: 14px;
    font-weight: 900;
    border-top: $relick-s-border solid $relikva-black-color;
    padding: 12px 0;

    span {
      color: $relikva-violet;
    }
  }
  .invite_form {
    .form-group {
      padding-right: 0;
    }
    .btn-rectangle {
      position: relative;
    }
    .form-control {
      font-size: 12px;
      height: 35px;
      padding: 2px 10px;
    }
    .input_wrapper > .send {
      top: 3px;
    }
  }

  .btn-rectangle {
    margin-top: 10px;
  }
}