.likes-dropdown {
  display: inline-block;
  position: static;

  .dropdown-menu {
    border: $relick-border solid $relikva-black-color;
    width: 231px;
    position: absolute;
    top: auto;
    bottom: 25px;
    left: 0;

    &:before, &:after {
      bottom: -10px;
      border-width: 8px 6px 0 6px;
      border-color: #000 transparent transparent transparent;
      top: auto;
      left: 0;
      right: 0;
      margin: 0 auto;
    }

    &:after {
      border-color: #fff transparent transparent transparent;
      bottom: -7px;
    }
    
    li {
      font-size: 12px;
      border-bottom: $relick-xs-border solid $relikva-black-color;
      padding: 0;

      &:last-child { border-bottom: none; }

      a {
        font-weight: 900;
        color: $relikva-black-color;
        padding: 6px 10px;
        display: block;
        border-bottom: none;
        &:hover {
          color: #fff;
        }
      }
    }

    .load-more a {
      text-align: center;
      color: $relikva-violet;
    }
  }
  
  &.open {
    .dropdown-menu {
      animation-name: handsomely;
    }
  }
}

