$transition-speed: .3s;
$mobile_menu_content-width: 260px;

.mobile_menu_button {
  position: relative;
  border: none;
  background: transparent;
  width: 30px;
  height: 30px;
  padding: 0;
  outline: none;

  &:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 5px;
    background: black;
    box-shadow: 0 25px 0 0 black, 0 12px 0 0 black;
  }
}

.mobile_menu_content {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  padding: 20px;
  z-index: 9999;
  width: $mobile_menu_content-width;
  border-left: $relick-xs-border solid $relikva-black-color;
  opacity: 0;
  transform: translate3d($mobile_menu_content-width, 0, 0);
  transition: all ease-in-out $transition-speed;
}

.exit_mobile_menu {
  transition: opacity ease-in-out $transition-speed;
  background: rgba(255,255,255,.5);
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  animation-duration: 1s;
  transition-timing-function: ease-out;
}

.navbar-fixed-top { transition: transform ease-in-out $transition-speed; }

.show_mobile_menu .navbar-fixed-top {
  transition: transform ease-in-out $transition-speed;

  .mobile_header {
    padding-right: 0;
    // margin-right: -15px;
  }
}

.mobile .mobile_header {
  transition: all ease-in-out $transition-speed;

  .notification {
    margin-right: 35px;
    margin-top: 1px;

    .dropdown-menu {
      width: 300px;
      left: -209px;
      margin-top: 25px;
      &:before {
        right: 59px;
      }
      &:after {
        right: 64px;
      }

      li {
        width: 260px;
      }
    }

    .activity_feed .dropdown-toggle {
      &:before {
        border-width: 0 16px 29px;
      }

      &:after {
        top: 9px;
        left: 8px;
        border-width: 0px 8px 15px 8px;
      }
    }

    .activity_feed.open .dropdown-toggle {
      &:before {
        border-color: transparent transparent $relikva-violet transparent;
      }
    }
  }
}

.show_mobile_menu .navbar {
  transform: translate3d(-230px, 0, 0);
  // border-bottom: 5px solid #000;
}

.header-placeholder .container:before {
  transition: transform ease-in-out $transition-speed;
}

.show_mobile_menu .header-placeholder .container:before {
    transform: translate3d(-230px, 0, 0);
}

.mobile-menu-footer {
  position: absolute;
  left: 20px;
  bottom: 20px;

  a {
    font-size: 12px;
    color: $relikva-black-color;

    &:last-child {
      margin-left: 17px;
    }
  }
}

.mobile_menu_content {
  li a {
    font-size: 12px;
    color: $relikva-black-color;
    font-weight: bold;
    border-top: $relick-xs-border solid $relikva-black-color;
    padding: 12px 0 13px;
    display: block;
    width: 190px;
  }

  .current-user-link {
    span {
      display: inline-block;
      vertical-align: middle;
      margin-top: 4px;
    }
    img {
      border-radius: 100px;
      margin-right: 10px;
    }
  }

  .relic-new-mobile {
    border-top: none;
    padding-top: 10px;
    display: inline-block;

    &:before {
      content: '+';
      display: inline-block;
      width: 22px;
      height: 22px;
      font-size: 24px;
      font-weight: 100;
      line-height: 0.5;
      padding: 1px;
      margin-right: 8px;
      border: $relick-border solid $relikva-black-color;
      vertical-align: middle;
      margin-top: -2px;
    }
  }
}

.show_mobile_menu {
  overflow: hidden;
}

body.mobile {
  [role="main"] {
    transition: transform ease-in-out $transition-speed;
  }
  &.show_mobile_menu {
    [role="main"] {
      transform: translate3d(-230px, 0, 0);
    } 

    .mobile_menu_content {
      display: block;
      transform: translate3d(34px, 0, 0);
      opacity: 999999;
    }

    .exit_mobile_menu {
      display: block;
      z-index: 9999;
      animation-name: show_exit_mobile_menu;
      cursor: pointer;
    }
  }

  &.hide_mobile_menu {
    .exit_mobile_menu {
      display: none;
    }
  }

  [data-mobile-menu] {
    position: absolute;
    right: 15px;
    top: 22px;
  }
}

@keyframes show_exit_mobile_menu {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.navbar-nav-mobile {
  > li {
    float: left;
  }
}