.nav-pills {
  padding: 0;
  font-weight: 900;
  margin-bottom: 25px;
  margin-top: 0;
  @include respond-to(mobile) {
    margin-top: 30px;
  }

  li:first-child {
    margin-left: $grid-gutter-width/2;
  }

  .nav-pills-separator {
    margin: 0 4px;
  }

  > li {
    display: inline-block;
    float: none;
    font-weight: 900;
    font-size: 17px;

    & + li {
      margin-left: 0;
    }

    > a, > a:hover {
      text-decoration: none;
      color: $relikva-violet;
      padding: 0; 
      padding-bottom: 4px;
      background: transparent;
      @include respond-to(mobile) {
        font-size: 20px;
        padding-bottom: 0;
        color: $relikva-black-color;
        line-height: 1.2;
      }
    }

    &.active, &.active:hover {
      border-bottom: 5px solid $relikva-font-color;
      @include respond-to(mobile) {
        border-bottom: 3px solid $relikva-black-color;
      }
      &, > a {
        color: $relikva-font-color;
        background-color: transparent;
      }
    }
  }
}

.relic-discover li:first-child {
  @include respond-to(mobile) {
    margin-left: 0;
  }
}

.relic-discover .nav-pills {
  @include respond-to(mobile) {
    margin-top: 5px;
  }
}

.subscriptions_block > .nav-pills {
  margin-bottom: 0;
}