$popup-padding: 30px;

.popupWrapper {
  position: fixed; top: 0; right: 0; left: 0;
  height: 0px;
  overflow: hidden;
  z-index: 10000;
  display: none;

  & > .overlay {
    position: fixed; top: 0; right: 0; left: 0; bottom: 0;
    height: auto;
    background: rgba(255,255,255,.9);
    z-index: 1;
  }

  & > .closeIcon {
    position: fixed;
    right: $popup-padding/2;
    top: $popup-padding/2;
    cursor: pointer;
    z-index: 999;
    &:hover {
      opacity: .7;
    }

    img {
      width: 20px;
    }

  }

  & > .popUp {
    position: relative;
    z-index: 2;
    //border: $relick-border solid $relikva-black-color
  }

  &.show {
    height: auto;
    bottom: 0;
    overflow: auto;
    display: block;

   > .overlay {
      @include keyframes_animation(show_popup_overlay, .5s);
    }
    
    > .popUp {
      @include keyframes_animation(show_popup_content, .5s);
    }

    > .closeIcon {
      @include keyframes_animation(show_popup_close_icon, .7s); 
    }
  }
}


.popUp {
  box-sizing: content-box;
  height: auto;
  z-index: 2;
  padding: 20px 15px;
  margin: $popup-padding*3 auto $popup-padding*2;
  min-width: 380px;
  width: 427px;
}


@keyframes show_popup_content {
  0% {
    opacity: 0;
    transform: translateY(-200px) scale(.9,.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes show_popup_overlay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show_popup_close_icon {
  0% {
    opacity: 0;
    transform: scale(.5,.5);
  }
  100% {
    opacity: 1;
    transform: scale(1,1);
  } 
}