@keyframes preloader-rotate {
  0% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(-360deg);
  }
}

.preloader {
  width: 100%;
  text-align: center;
  margin-top: 60px;

  .preloader-img {
    margin: 0 auto;
    animation: preloader-rotate 1.5s infinite;
    width: 20px;
    height: 32px;
  }

  img {
    display: block;
    width: 100%;
  }
}