.relic_attach_user {
  margin-top: 30px;

  input {
    font-size: 12px;
    padding: 0 14px;
    @include respond-to(mobile) {
      padding: 8px;
    }
  }
  > .users {
    padding: 0;
    margin: 10px 0;
    list-style: none;
    width: 50%;

    @include respond-to(mobile) {
      width: 100%;
    }

    > li {
      margin: 0;
      padding: 15px 0;
      border-bottom: $relick-xs-border solid $relikva-border-color;
      position: relative;
      font-size: 12px;
      
      &:last-child {
        border-bottom: none;
      }

      img {
        border-radius: 30px;
        margin-top: -4px;
      }
    }
  }
  .media > .pull-left {
    margin-right: 10px;
    height: 10px;
    margin-top: -2px;
  }
  .delete_user {
    position: absolute;
    right: 0;
    color: $relikva-violet;
    cursor: pointer;
  }

  .invite_form {
    margin-top: 10px;

    .form-group {
      margin-bottom: 0;
    }
  }

  .invite_user {
    position: absolute;
    right: 70px;
    color: $relikva-violet;
    cursor: pointer;
  }

  .attach_user {
    color: $relikva-violet;
    cursor: pointer;
  }

  .attached_user {
    color: $relikva-black-color;
    font-weight: 900;
  }
  .angucomplete-row {
    @include clearfix;
    .angucomplete-title {
      height: 30px;
    }
  }
}