.relic_attach_category {
  margin-top: 30px;

  input {
    font-size: 12px;
    padding: 0 14px;
    @include respond-to(mobile) {
      padding: 8px;
    }
  }
  > .categories {
    padding: 0;
    margin: 10px 0;
    list-style: none;
    width: 50%;
    > li {
      margin: 0;
      padding: 15px 0;
      border-bottom: $relick-xs-border solid $relikva-border-color;
      position: relative;
      font-size: 12px;

      &:last-child {
        border-bottom: none;
      }

      img {
        border-radius: 30px;
        margin-top: -4px;
      }
    }
  }
  .media > .pull-left {
    margin-right: 10px;
    height: 10px;
    margin-top: -2px;
  }
  .delete_category {
    position: absolute;
    right: 0;
    color: $relikva-violet;
    cursor: pointer;
  }
  .attach_category {
    color: $relikva-black-color;
    font-weight: 900;
  }
  .angucomplete-row {
    @include clearfix;
    .angucomplete-title {
      height: 30px;
    }
  }
}