.relic_images_gallery {
  position: relative;
  overflow: hidden;
  &::selection, *::selection {
    background: transparent;
  }

  opacity: 0;
  // transition: opacity .25s ease-in;
  &.show {
    opacity: 1;
    @include fadeIn( .25s, 0, 0s, ease-out, both );
    .teaser[data-transition] {
      transition: height .7s ease-in-out;
    }
  }

  img {
    position: relative;
    display: block;
  }

  .teaser {
    position: relative;
    > .img_wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: no-repeat 50%;
      background-size: 100% auto;
//      transition: opacity .5s ease;
    }
    > img {
      width: 100%;
      opacity: 0;
    }

//    &:active {
//      > .img_wrapper {
//        opacity: .9;
//      }
//    }
  }

  .listing {
    width: 100%;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    display: block;
    list-style: none;
    padding: 10px 0 0;
    margin: 0;
    position: relative;
    background: #fff;

    > li {
      display: inline-block;
      margin-right: 10px;
      position: relative;
      background-size: cover;
      cursor: pointer;

      > img {
        height: 60px
      }
      
      &.active:before {
        content: " ";
        display: block;
        position: absolute;
        z-index: 10;
        top:     0;
        bottom:  0;
        left:    0;
        right:   0;
        border:  $relick-border solid $relikva-violet;
      }
    }
  }

  $control-arrow-padding: 30px;
  $control-img-width: 30px;
  $control-img-height: 20px;


  .control-arrow {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    width: $control-arrow-padding * 2 + $control-img-width;
    cursor: pointer;
    background: 30% 50% no-repeat;
    background-size: $control-img-width $control-img-height;
    transition: transform .05s ease, opacity .25s ease;
    opacity: 0
  }

  .next {
    background: 70% 50% no-repeat;
    background-size: $control-img-width $control-img-height;
  }

  .teaser:hover {
    .control-arrow {
      opacity: 1;
    }
  }

  .prev {
    left: 0;
    @include responsive-background('/assets/icons/arrow-left.png','/assets/icons/arrow-left@x2.png');
    &:active {
      transform: translateX(-5px);
    }
  }

  .next {
    right: 0;
    @include responsive-background('/assets/icons/arrow-right.png','/assets/icons/arrow-right@x2.png');
    &:active {
      transform: translateX(5px);
    }
  }

}

.empty_gallery_dummybox {
  background: url('/assets/no_images.png') center center no-repeat;
  border: 2px dashed #000000;
}

.empty_gallery_desc {
  font-size: 0.8em;
  color: $relikva-violet;
  margin: 10px 0;
}
