.investigation_grid {

  .grid-sizer {
    width: 50%;
    height: 1px;
  }
  .relic_investigation {
    width: 50%;
    margin-right: -30px;
    @include respond-to(mobile) {
      width: 100%;
    }
  }
}

.relic_investigation {
  padding-bottom: 30px;

  > .wrapper {
    background: $relikva-header-bg-color;
    padding: 20px;
    margin: 0 15px;
    border: $relick-xs-border solid $relikva-border-color;
    @include respond-to(mobile) {
      border: $relick-border solid $relikva-border-color;
      padding: 12px 15px 20px;
    }
  }

  hr {
    margin-bottom: 18px;
    @include respond-to(mobile) {
      margin-top: 18px;
    }
  }

  h3 {
    font-size: $relic-font-size-title;
    line-height: 1.2;
    margin-bottom: 0;
    @include respond-to(mobile) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .investigation_title_block {
    position: relative;

    .delete_btn {
      position: absolute;
      bottom: 3px;
      right: 0;
      margin: 0;
      color: $relikva-violet;
      text-decoration: none;
      cursor: pointer;
      font-size: $font-size-small;
      
      &:hover {
        color: #000;
        opacity: 1;
      }
    }

  }

  .avatar {
    border-radius: 30px;
  }

  .handle {
    font-size: $font-size-small;
    font-weight: 900;
    color: $relikva-black-color;
    &:hover {
      color: $relikva-violet;
    }
  }

  .comments_liker {
    margin-bottom: 2px;
    margin-top: 19px;
    @include respond-to(mobile) {
      margin-top: 12px;
    }
  }

  .investigation_comments {
    margin: 0;
    padding: 0;
    list-style: none;

    p {
      font-size: 13px;
      line-height: 20px;
      margin-bottom: 22px;
      margin-top: 2px;
    }
  }

  .body {
    font-size: $font-size-small;
  }

  .investigation_comments .media {
    border-bottom: $relick-xs-border solid $relikva-border-color;
  }
}

.investigations_title {
  margin-top: 0;
}

.relic_investigation_new {
  padding: $grid;
  margin-bottom: 30px;
  border: $relick-xs-border solid $relikva-border-color;
  position: relative;

  h4 {
    font-size: 10px;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-weight: normal;
  }

  .form-group {
    margin-bottom: 0;
    position: relative;
  }

  input {
    font-size: $relic-font-size-title;
    height: 30px;
    padding: 6px 50px 6px 10px;
    min-height: 110px;
  }

  .btn {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}