.ng_date_select {
  display: inline-block;
  > ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    > li {
      display: inline-block;
      margin-right: 10px;
    }
  }
  input {
    width: 80px;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      display: none;
    }
  }
  select {
    &.month {
      width: 80px;
    }
    &.day {
      width: 50px;
    }
  }
}
.date_start_wrapper {
  display: inline-block;
  opacity: .3;
  cursor: pointer;

  &.active {
    opacity: 1;
    cursor: auto;
  }

  > .form-group.ng_date_select {
    margin-bottom: 0;
    @include respond-to(mobile) {
      display: block;
    }
    > ul.date {
      display: inline-block;
    }
  }
}
.date_start_wrapper + .or { display: inline-block;}
.ng_date_select + .ng_date_select {
  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 2px;
    width: 20px;
    margin-right: 10px;
    background: $relikva-border-color;
    @include respond-to(mobile) {
      display: none;
    }
  }
}

.two-dates .relic_date_start {
  @include respond-to(mobile) {
    margin-bottom: 4px !important;
  }
  &:after {
    content: '';
    display: none;
    vertical-align: middle;
    height: 2px;
    width: 20px;
    margin-left: 3px;
    background: $relikva-border-color;
    @include respond-to(mobile) {
      display: block;
      margin-left: 0;
      margin: 12px auto 12px 0;
    }
  }
}

.or_two_dates, .one_date {
  font-size: 12px;
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
  @include respond-to(mobile) {
    display: block;
    font-size: 10px;
    margin: 12px 0 5px;
  }
}

.one_date {
  margin-left: 0;
}




[ng-controller="RelicSelectDate"] {
  h2 {
    > label {
      margin-right: 30px;
      color: $relikva-violet;

      > input {
        display: none;
      }

      &.active {
        color: $relikva-border-color;
        border-bottom: $relick-s-border solid $relikva-border-color;  
      }
    }
  }
}