.relic_collections {
  .checkbox {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    margin-top: 0;
    margin-right: 2%;
    position: relative;
    margin-bottom: 15px;
    @include respond-to(mobile) {
      width: 100%;
      display: block;
      margin-right: 0;
    }

    &:nth-of-type(2n) {
      margin-right: 0;
    }
  }
  input {
    display: none;
  }

  label {
    padding-left: 21px;

    span {
      vertical-align: bottom;
    }

    &.active:after {
      opacity: 1;
    }

    &:before,
    &:after {
      top: 2px!important;
    }
  }
}