.relics-list {
  margin-top: $padding-large-vertical*3;
  @include clearfix;
  > h2 {
    margin-top: 0;
    margin-bottom: 1em;
    text-align: center;
    > small {
      @include thin_text;
    }
  }
  .col-md-3 > h3 {
    margin-top: 0;
    a {
      color: $gray;
    }
  }
}