.relic_discussions_list {
  padding-bottom: 40px;
  @include respond-to(mobile) {
    padding-bottom: 15px;
  }
}

.relic_discussions {
  margin: 0;
  padding: 0;
  list-style: none;
  textarea {
    margin-bottom: 10px;
  }
  .avatar {
    border-radius: 50%;
  }

  .media {
    border-top: $relick-xs-border solid $relikva-border-color;
    padding-top: 12px;
    margin-top: 15px;
  }

  .user, .media-heading {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 6px;
  }

  .media-heading {
    font-size: 13px;
    color: $relikva-black-color;
    font-weight: bold;
    margin: 0;
    margin-bottom: -2px;
  }

  .body {
    margin: 0;
    max-width: 480px;
    font-size: 13px;
    line-height: 20px;
    margin-top: 3px;
  }

  .media.reply {
    border-top: none;
  }
}