.relic_reader {
  padding: $relic-reader-grid 0 $grid*3;
  position: relative;
  border-bottom: $relick-m-border solid $relikva-border-color;
  margin-bottom: 53px;
  
  @include respond-to(mobile) {
    padding-top: 0;
    border-bottom: $relick-s-border solid $relikva-border-color;
    padding-bottom: 25px;
    margin-bottom: 30px;
  }

  header:hover {
    a {
      color: $relikva-violet;
    }
  }

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  > .wrapper {
    position: relative;
    @include clearfix;
    margin: 0 (-$relic-reader-grid);
  }

  figure, .info {
    display: block;
    position: static;
  }

  .info {
    @include respond-to(mobile) {
      position: relative;
      .resource_manager {
        top: -4px;
      }
    }
  }

  .buttons_list {
    @include respond-to(mobile) {
      width: 50%;
      float: left;
      margin-top: 20px;
    }
  }

  .description {
    font-size: 18px;
//    max-height: 4em * 1.8;
//    overflow: hidden;
    @include respond-to(mobile) {
      font-size: 15px;
      line-height: 20px;
      margin-top: 15px;
    }
    > p {
      font-family: $font-family-serif;
      width: 100%;
      margin: 0;
    }
  }

  a {
    color: $relikva-black-color;
    transition: all ease-in-out .2s;
    &:hover {
      text-decoration: none;
      color: $relikva-violet;
      transition-duration: 0;
    }
    &:active {
      text-decoration: none;
    }
  }

  .resource_manager {
    top: -7px;

    li {
      padding: 1px 8px !important;
      border-bottom: $relick-xs-border solid $relikva-violet;

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}


.relic_reader_number {
  margin-top: -4px;
  margin-bottom: 3px;

  @include respond-to(mobile) {
    margin-top: 12px;
    a { font-size: 15px; }
  }
}

.relic_reader_title {
  margin-top: 0;
  margin-bottom: 25px;
  @include respond-to(mobile) {
    margin-top: 8px;
    margin-bottom: 15px;

    a {
      font-size: 30px;
      line-height: 30px;
    }
  }
}

.relic_reader_details {
  font-size: $font-size-small;
  font-weight: 900;
}

.relic_reader_counters {
  margin-top: 40px;
  display: block;
  padding: 0;
  list-style: none;
  font-weight: 900;
  font-size: $font-size-small;
  @include respond-to(mobile) {
    width: 50%;
    float: right;
    margin-top: 20px;
  }
  > li {
    display: inline-block;
    margin-right: $grid/4*7;
    @include respond-to(mobile) {
      display: block;
      margin-right: 0;
    }
    > a {
      color: $relikva-font-color;
      > .count {
        color: $relikva-violet;
      }
    }
  }
}

.media.autor {
  white-space: nowrap;
  overflow: hidden;
}

.media.autor .media-body {
  font-size: $font-size-small;
  vertical-align: top;
  margin-top: 1px;
  font-weight: 900;
}

.reader_show_button {
  margin: 20px 0 25px;
}

.relic_page {
  border-top: $relick-m-border solid $relikva-black-color;
  padding-top: 50px;
  margin-bottom: 60px;

  &:first-child {
    border-top: none;
    padding-top: 0;
  }
}

.bottom-relic-line-tools {
  text-align: right;
}
