.relic_select_categories {
  font-size: $font-size-small;
  margin-top: 25px;
  @include respond-to(mobile) {
    margin-top: 0;
  }

  &:after {
    content: ' ';
    display: table;
    clear: both;
  }

  .count { display: none; }

  > .scroll_wrapper {
    white-space: nowrap;
    width: 67%;
    overflow: auto;
    overflow-y: hidden;
    overflow-x: auto;
    display: inline-block;
    vertical-align: top;
    border: $relick-xs-border solid $relikva-border-color;
    margin-right: 3%;
    @include respond-to(mobile) {
      width: 100%;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    cursor: pointer;
    padding: 0 9px;
    transition: all ease-in-out .2s;

    &:last-child span {
      border-bottom: none;
    }

    &:hover {
      span {
        color: $relikva-violet;
      }
    }
  }

  .selected_category {
    width: 35%;
    overflow-x: hidden;
    overflow-y: auto;
    height: 275px;
    white-space: normal;
    border-right: 1px solid;
    padding-bottom: 0;
    display: inline-block;
    vertical-align: top;
    @include respond-to(mobile) {
      width: 85%;
    }
  }

  .active, .selected {
    background: $relikva-violet;
    margin-top: -1px;
    width: 101%;

    &:hover span {
      color: #fff;
    }

    span {
      color: #fff;
      border-bottom-color: $relikva-violet;
    }
  }

  li span {
    display: block;
    line-height: 1;
    border-bottom: $relick-xs-border solid $relikva-border-color;
    padding: 13px 0;
  }

  .selected {
    // display: none;
    @include check-icon;
    background: #fff;
    position: relative;
    margin-top: 0;
    width: 100%;
    span {
      color: $relikva-violet !important;
      border-bottom-color: $relikva-border-color;
      &:hover {
        color: $relikva-violet !important;
      }
    }

    &:after {
      position: absolute;
      right: 9px;
      top: 14px;
      width: 13px;
      height: 7px;
    }
  }

  > .selected_wrapper {
    width: 29%;
    display: inline-block;
    vertical-align: top;
    @include respond-to(mobile) {
      width: 100%;
    }

    h2 {
      margin-top: -6px;
      border-bottom: none;
      font-size: 17px;
      margin-bottom: 0;
    }

    li {
      display: inline-block;
      position: relative;
      width: 100%;
      padding: 0;
      border-bottom: $relick-xs-border solid $relikva-border-color;

      span {
        border-bottom: none;
        padding-right: 68px;
      }

      &:last-child { border-bottom: none; }

      > .delete {
        color: $relikva-violet;
        cursor: pointer;
        padding: 0;
        position: absolute;
        top: 13px;
        right: 0;
      }
    }
  }

}