.relic_preview {
  float: none;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 30px;

  .teaser {
    margin-bottom: 5px;

    &, img { 
      width: 100%;
      display: block;
    }
  }

  figure {
    @include respond-to(mobile) {
      border-top: $relick-s-border solid $relikva-black-color;
      padding-top: 35px;
    }
  }

  .title {
    font-size: $relic-font-size-title;
    font-weight: 900;
    line-height: 1.2;
    margin-top: 0;
  }

  .media.autor .media-body {
    margin-top: 7px;
    display: block;
  }

  .description {
    font-family: $font-family-serif;
    font-size: 15px;
    line-height: 1.35;
    > a {
      color: $relikva-black-color;
      &:hover {
        color: $relikva-violet;
      }
    }
  }

  .autor {
    display: block;
    border: solid $relikva-border-color;
    border-width: $relick-xs-border 0;
    margin-bottom: 17px;
    padding: 10px 0;

    > .media-body {
      overflow: hidden;
      vertical-align: middle;
    }
  }
}