$teaser-width: 27%;
$image-uploader-unit: 30px;
$preview-size: 110px;

.relic_images_uploader {
  @include clearfix;
  
  > .content {
    > .teaser {
      width: $teaser-width;
      overflow: hidden;
      float: left;
      padding-right: $image-uploader-unit/2;
      margin-right: 13px;

      @media (min-width: $screen-sm-min) {
        width: $teaser-width * $container-md / 100%;
      }

      @include respond-to(mobile) {
        width: 300px;
        margin-right: 15px;
        padding-right: 0;
        margin-bottom: 20px;
      }


      &.turning {
        opacity: .3;
        cursor: wait; 
      }

      > .img_wrapper {
        display: block;
        background-size: cover;

        > img {
          width: 100%;
          display: block;
          visibility: hidden;
          opacity: 0;
        }
      }

      .menu {
        position: relative;
        margin-top: 10px;
        @include respond-to(mobile) {
          margin-top: 5px;
        }
      }

      .destroy {
        color: $relikva-violet;
        position: absolute;
        right: 0;
        bottom: 1px;
        z-index: 99;
      }

      .rotate {
        color: $relikva-violet;
        position: absolute;
        right: 72px;
        bottom: 1px;
        z-index: 9
      }

      .rotate-icon {
        display: inline-block;
        vertical-align: top;
        margin-top: 2px;
        width: 10px;
        margin-right: 3px;
      }

      .menu span {
        font-size: 12px;
        cursor: pointer;
      }

      .teaser-id {
        color: $relikva-violet;

        span {
          color: $relikva-black-color;
        }
      }
    }

    > .items {
      display: inline;
      list-style: none;
      margin: 0;
      padding: 0;
      > li {
        margin: 0 25.9px 20px 0;
        display: inline-block;
        @include respond-to(mobile) {
          margin: 0 10px 10px 0;
        }
      }
    }
  }

  .add_new_image {
    overflow: hidden;
    border: 2px dashed #ccc;
    vertical-align: top;
    width: 110px;
    height: 110px;
    display: inline-block;
    margin: 0;
    position: relative;
    transition: all ease-in-out .3s;
    cursor: pointer;
    margin-left: -4px;
    @include respond-to(mobile) {
      width: 80px;
      height: 80px;
      margin-left: 0;
    }
    &:hover {
      border-color: $relikva-violet;

      &:after, &:before {
        background: $relikva-violet;
      }
    }

    &:after {
      content: ' ';
      width: 30px;
      height: 2px;
      background: #ccc;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      transition: all ease-in-out .3s;
    }

    &:before {
      content: ' ';
      width: 2px;
      height: 30px;
      background: #ccc;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      transition: all ease-in-out .3s;
    }
  }

  > .content.dragover {
    .add_new_image { border-color: $relikva-violet; } 
  }
}

.relic_images_uploader_item {
  position: relative;

  &:hover {
    .index {
      color: #fff;
      z-index: 99999999;
      transition: all ease-in-out .3s;
    }

    .zoom-icon {
      opacity: 1;
    }
  }

  .zoom-icon {
    opacity: 0;
    transition: all ease-in-out .3s;
    width: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -9px;
    margin-top: -9px;
  }

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: all ease-in-out .3s;
    background: transparent;
    &:hover {
      background: rgba(102, 51, 204, .89);
    }
  }

  .index {
    position: absolute;
    top: 4px;
    left: 7px;
    color: $relikva-violet;
    font-size: 12px;
    font-weight: 900;
  }

  > .preview {
    width:  $preview-size;
    height: 0;
    padding-bottom: 100%;
    background: transparent 50% 50% no-repeat;
    background-size: cover;
    @include respond-to(mobile) {
      width: 80px;
    }
  }

  &.active > .preview {
    box-shadow: inset 0 0 0 3px $relikva-violet;
  }

}

.as-sortable-item {
  touch-action: none;
}

.as-sortable-item-handle {
  cursor: move;
}

.as-sortable-placeholder {
  background: #CCC;
}

.as-sortable-drag {
    position: absolute;
    pointer-events: none;
    z-index: 9999;
}

.as-sortable-hidden {
    display: none !important;
}


.as-sortable-drag{
  position:absolute;
  pointer-events:none;
  opacity:.8;
  z-index:9999;
  margin: 0 0 0 (-$preview-size/2);
  &, * {
    list-style: none;
  }
  .control {
    display: none;
  }
}
.as-sortable-hidden{
  display:none!important
}