.resource_manager {
  position: absolute;
  right: 15px;
  top: -3px;

  .user-menu-button {
    font-size: 10px;
    cursor: pointer;
  }

  .caret {
    margin-left: 5px;
  }

  .dropdown-menu {
    border: $relick-xs-border solid $relikva-violet;
    width: 110px;
    min-width: 100px;
    margin-top: 2px;
    left: -51px;
    z-index: 9999999;

    &:before, &:after {
      display: none;
    }
  }

  .dropdown-menu .indent:hover {
    background: transparent;
    cursor: default;
  }

  .dropdown-menu li {
    color: $relikva-violet;
    font-size: 12px;
    cursor: pointer;
    padding: 0;

    label {
      font-weight: normal;
      cursor: pointer;
      border-bottom: $relick-xs-border solid $relikva-violet;
      padding: 1px 8px;
      width: 100%;
      margin-bottom: 0;
    }

    &:hover {
      background: $relikva-violet;
      color: #fff;
    }

    &:last-child {
      label {
        border-bottom: none;
      }
    }

    a {
      padding: 0;
      color: $relikva-violet;
      padding-bottom: 1px;
    }
  }

  .dropdown-menu li.active {
    background: $relikva-violet;
    color: #fff;
  }

  .indent {
    height: 20px;
  }
}