.sharing_counter {
  margin: 0;
  padding: 0;

  .facebook, .vk, .twitter, .odnoklasniki {
    display: inline-block;
    vertical-align: top;
    margin-right: 6px;
  }

  a {
    padding: 0px 6px 2px;
    border: $relick-border solid $relikva-violet;
    display: block;
    line-height: 1.1;
    transition: all ease-in-out .2s;
  }

  a:hover {
    text-decoration: none;
    background: $relikva-violet;
    color: #fff;
  }

  a:before {
    vertical-align: middle;
  }

  .icon-fb, .icon-odn {
    padding-left: 4px; 
  }

  .icon-fb:before {
    font-size: 13px;
    margin-right: 3px;
  }

  .icon-tw:before {
    font-size: 15px;
  }

  .icon-vk:before {
    font-size: 9px;
    margin-right: 4px;
  }

  .icon-odn:before {
    font-size: 13px;
    margin-right: 2px;
  }

  a:hover .separator {
    background: #fff;
  }

  .separator {
    width: 10px;
    height: 2px;
    background: $relikva-violet;
    display: inline-block;
    vertical-align: middle;
    transition: all ease-in-out .2s;
  }

  span {
    font-weight: 900;
    font-size: 12px;
  }
}