$sidebar-block-border: 2px;

.sidebar_block {
  margin-bottom: 60px;

  > .buttons {
    margin-top: 3px;
  }
}

.sidebar_block_title {
  font-size: 17px;
  margin: 5px auto 8px;

  a {
    transition: all ease-in-out .2s;
  }

  a:hover {
    text-decoration: none;
    color: $relikva-violet;
  }

}

.sidebar_blocks > * {
  @include clearfix;
  position: relative;
  padding-bottom: 9px;
  border-top: $relick-xs-border solid $relikva-border-color;
  padding-top: 10px;

  a {
    color: $relikva-font-color;
    text-decoration: none;
  }

  &:first-child {
    border-top-width: 5px;
  }
}