.sliders {
  > * {
    width: 100%;
//    height: 450px;
//    background-size: contain;
//    background-position: 50%;
  }
  .container {
//    height: 450px;
    display: table;
  }
  .row {
    display: table-cell;
    vertical-align: middle;
  }
  .teaser {
    width: 100%;
  }
  .text {
    background: rgba(255,255,255,.9);
    overflow: hidden;
    padding-top: $padding-large-vertical;
    padding-bottom: $padding-large-vertical;
  }
}