.social-networks {
  font-size: 12px;
  position: relative;
  margin-top: 15px;

  span, a {
    margin-right: 25px;
  }

  span {
    display: none;
  }

  a:last-child {
    margin-right: 0;
  }

  a {
    display: block;
    margin-bottom: 15px;
  }
}

.footer.container .social-networks {
  position: absolute;
  top: 16px;
  margin-top: 0;
  right: 0;

  span {
    display: inline-block;
  }

  a {
    display: inline-block;
    margin-bottom: 0;
  }
}