.sticky_list {
  //overflow: hidden;
  
  &.fixed_to_bottom {
    position: absolute;
    bottom: 0;
  }
  &.fixed_to_top {
    position: fixed;
  }
}

.sticky_list_parent {
  position: relative;
  @include clearfix;
}

.sticky_list_bottom {
  overflow: hidden;
  background: #fff;
  @include clearfix;
  &.fixed_to_bottom {
    position: fixed;
    bottom: 0; 
  }
}