$subscription-avatar-size: 26px;
$subscription-button-border: 1px;

.subscription_block_title {
  margin: 0 auto;
  font-size: 13px;
  line-height: 15px;
  margin-bottom: 9px;
  margin-left: -1px;
}

.subscription_block  {
  line-height: $subscription-avatar-size;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  border-bottom: $relick-xs-border solid $relikva-border-color;
  padding: 7px 0 5px;

  &:last-child {
    border-bottom: none;
  }

  .name, img {
    display: inline-block;
    vertical-align: middle;
  }
  
  .name {
    font-weight: 900;
    color: $relikva-black-color;
    font-size: 13px;
    margin-top: -1px;
    &:hover {
      color: $relikva-violet;
    }
  }

  img {
    margin-right: 6px;
    border-radius: 50%;
    height: $subscription-avatar-size;
    width: $subscription-avatar-size;
  }
}

.subscription-btn {
  float: right;
  font-size: 0;
  padding: 0;
  height: 17px;
  width: 17px;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  right: 0;
  transition: all ease-in-out .1s;
  border: $subscription-button-border solid $relikva-black-color;
  background: #fff;

  &::selection, *::selection {
    background: transparent;
  }

  &:hover, &:active, &:focus, & {
    //box-shadow: none !important; 
    box-shadow: 2px 0px 10px 13px #fff !important;
    outline: none !important;
  }

  &:active, &:focus {
    border: $subscription-button-border solid $relikva-violet;
    background: #fff;
  }

  &:before,  
  &:after{
    content: '';
    display: block;
    position: absolute;
    left: 3px;
    height: $subscription-button-border;
    width: 9px;
    background-color: $relikva-black-color;
    border-radius: 2em;
    top: 7px;
    transition: transform .3s ease-in-out,
                background .1s ease,
                box-shadow .3s ease;
  }
  
  &:before{
    transform: rotate(-90deg);
    box-shadow: 0 0 0 0px $relikva-violet;
  }
  
  &:after{
    transform: rotate(0deg);
  }

  &:hover {
    border-color: $relikva-violet;
    background: $relikva-violet;
    &:after, &:before {
      background-color: #fff;
    }
  }

  &.btn-success{
    background: transparent;
    border-color: $relikva-black-color;

    &:hover {
      background: $relikva-violet;
      border-color: $relikva-violet;
      &:before{
        background: #FFF;
        transform: scale(1) rotate(135deg);
        box-shadow: none;
      }
      &:after{
        background: #FFF;
        transform: scale(1) rotate(45deg);
      }
    }

    &:before{
      transform: rotate(-45deg) translateY(90%) translateX(30%) scaleX(1.1);
      background-color: $relikva-black-color;
      box-shadow: 0 0 0 4px #fff;
      border-radius: 1px;
    }
    
    &:after{
      transform: rotate(45deg) translateY(100%) translateX(-5%) scaleX(0.5);
      background-color: $relikva-black-color;
    }

    &.btn-default {
      background: transparent;
      &:hover {
        background: transparent;
      }
    }
  }

  > .popover {
    font-size: $font-size-small;
    background: $relikva-black-color;
    color: #fff;

    position: absolute;    
    top: 0;
    right: 100%;
    padding: 2px 5px;
    line-height: 1;
    display: block;
    margin-right: 10px;

    display: none;

    @include after {
      position: absolute;
      right: -4px;
      top: 4px;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4px 0 4px 5px;
      border-color: transparent transparent transparent #222;
    }
  }

  &:hover {
    > .popover {
      display: block;
      @include keyframes_animation(subscription_popover, .2s);
      animation-delay: .5s;
    }
  }
}

.subscription_block_wrapper .btn-rectangle {
  width: 100%;
  margin-top: 11px;
  padding-top: 6px;
  padding-bottom: 6px;
}

@keyframes subscription_popover {
  0% {
    opacity: 0;
    transform: translateX(30%) scale(.7,.7);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}