.user-menu {
  padding-top: 10px;

  > li {
    display: table;
    padding: 15px;
    a { text-decoration: none; }
    > * {
      display: table-cell;
      vertical-align: bottom;
    }
  }

  .caret {
    margin-left: 1px;
    margin-top: 3px;
  }

  .admin_page a {
    color: #f00;
  }
}

header.navbar .navbar-nav > li {
  height: 77px;
}

.user-menu-button {
  color: $relikva-violet;
  background: transparent!important;
  padding-bottom: 17px!important;
  > img {
    border-radius: 50%;
  }
  &.open > a, > a:hover {
    background: transparent!important;
    > img { box-shadow: 0 0 0 $relick-s-border $relikva-violet; }
  }
}