$user_avatars_uploader_img_size: 100px;

.user_avatars_uploader {
  ul[sortable] {
    display: block;
    list-style: none;
    padding: 10px 0 0;
  }
  li {
    margin: 0 0 10px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    img {
      max-width: $user_avatars_uploader_img_size;
      max-height: $user_avatars_uploader_img_size;
      display: block;
    }
    &:first-child {
      img {
        border: 3px solid #ff0;
      }
    }
  }
  .sortable-placeholder {
    background: #eee;
    width: $user_avatars_uploader_img_size
  }
  .delete_btn {
    text-decoration: underline;
    float: right
  }
}

.sortable-drag{
  position:absolute;
  pointer-events:none;
  opacity:.8;
  z-index:9999;
  margin-right: 20px;
  &, * {
    list-style: none;
  }
  .delete_btn {
    display: none;
  }
  img {
    width: $user_avatars_uploader_img_size * 1.1;
    display: block;
  }
}
.sortable-hidden{
  display:none!important
}