@font-face {
  font-family: 'Formular';
  src: url('/assets/fonts/formular/medium.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/formular/medium.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/formular/medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8
       url('/assets/fonts/formular/medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/formular/medium.svg#Formular-Medium') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  500;
}