@font-face {
  font-family: 'Formular';
  src: url('/assets/fonts/formular/bold.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/formular/bold.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/formular/bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/formular/bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/formular/bold.svg#Formular-Bold') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  900;
}