@font-face {
  font-family: "relikva-icons";
  src: url("/assets/fonts/icons/relikva-icons.eot");
  src: url("/assets/fonts/icons/relikva-icons.woff") format("woff"),
       url("/assets/fonts/icons/relikva-icons.eot?#iefix") format("embedded-opentype"),
       url("/assets/fonts/icons/relikva-icons.ttf") format("truetype"),
       url("/assets/fonts/icons/relikva-icons.svg#relikva-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "relikva-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "relikva-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fb:before {
  content: "w";
}
.icon-odn:before {
  content: "x";
}
.icon-tw:before {
  content: "y";
}
.icon-vk:before {
  content: "z";
}
.icon-triangle:before {
  content: "v";
}
.icon-search:before {
  content: "a";
}
